
<launch> 
	<!-- send pr2.xml to param server -->
	<param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/pr2.xacro.xml'" />
	
	<!-- send parameters for collision checking for PR2; this includes parameters for the self filter -->
	<rosparam command="load" ns="robotdesc/pr2_collision" file="$(find pr2_defs)/collision/collision_checks_both_arms.yaml" />

	<!-- send parameters needed for motion planning -->
	<rosparam command="load" ns="robotdesc/pr2_planning" file="$(find pr2_defs)/planning/planning.yaml" />
</launch>
