# this borg is on a tripod and has an AVT Pike camera and a NAI stage
cam dc1394
fps 208
cam_shutter 600
#cam_shutter 250
cam_gain 200
cam_gamma 1
cam_brightness 200
calib_fx 556.826
calib_fy 557.384
calib_x0 311.834
calib_y0 235.085
calib_k1 -0.3607
calib_k2 0.1919
calib_k3 0.000586
calib_k4 -0.000575
stage_host 192.168.1.106
left 45
right 115
scan_duty 580
return_duty 1023
laser_thresh 10
image_queue_size 15
