# this borg is on a tripod and has an AVT Pike camera and a NAI stage
cam dc1394
fps 208
cam_shutter 200
#cam_shutter 250
cam_gain 400
cam_gamma 1
cam_brightness 200
cam_still_shutter 2000
cam_still_gain 100
calib_fx 556.826
calib_fy 557.384
calib_x0 311.834
calib_y0 235.085
calib_k1 -0.3607
calib_k2 0.1919
calib_k3 0.000586
calib_k4 -0.000575
calib_tx 0.1997
calib_ty 0
calib_tz -0.051317
calib_enc_offset 1.570393
calib_laser_rot 0
stage_host 172.24.69.232
left 45
right 115
scan_duty 580
return_duty 1023
laser_thresh 10
image_queue_size 15
