<launch>
  <group ns="prosilica">
    <param name="ip_address" type="str" value="169.254.10.28"/>
    <param name="acquisition_mode" type="str" value="Continuous"/>
  </group>
  <node name="prosilica" pkg="prosilica_cam" type="prosilica_node" respawn="false"/>

  <group ns="plug_detector" clear_params="true">
    <param name="display" type="bool" value="false"/>
    <node pkg="outlet_detection" type="plug_node" respawn="false" output="screen">
      <remap from="Image" to="/prosilica/image_rect"/>
      <remap from="CamInfo" to="/prosilica/cam_info"/>
    </node>
    <node pkg="outlet_detection" type="outlet_node" respawn="false" output="screen">
      <remap from="Image" to="/prosilica/image_rect"/>
      <remap from="CamInfo" to="/prosilica/cam_info"/>
    </node>
  </group>
</launch>
