<launch>
  <group ns="plug_detector" clear_params="true">
    <param name="display" type="bool" value="false"/>
    <node pkg="outlet_detection" type="plug_node" respawn="false" output="screen"/>
  </group>

  <group ns="outlet_detector" clear_params="true">
    <param name="display" type="bool" value="false"/>
    <node pkg="outlet_detection" type="outlet_node" respawn="false" output="screen"/>
  </group>
</launch>
