<?xml version="1.0"?>
<robot>

  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/scripts"/>
  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/textures"/>

  <!--                                                      -->
  <!-- Alpha 2.0 hardware                                   -->
  <!--                                                      -->
  <macro name="pr2_wheel_alpha2_rviz" params="suffix parent">
    <rviz reference="${parent}_${suffix}_wheel_link">
      <!-- TODO should be different for left and right wheel-->
      <material value="PR2/${parent}_${suffix}_wheel_link" />
    </rviz>
  </macro>

  <macro name="pr2_caster_alpha2_rviz" params="suffix">
    <rviz reference="${suffix}_caster_rotation_link">
      <elem key="material" value="PR2/Green" />
    </rviz>
  </macro>


  <macro name="pr2_base_alpha2_rviz" params="name">
    <rviz reference="${name}_link">
      <material value="PR2/Green" />
    </rviz>
    <rviz reference="base_laser">
      <material value="PR2/Red" />
    </rviz>
  </macro>
  



</robot>
