<launch>
  <!-- this launch file corresponds to robot model in ros-pkg/robot_descriptions/wg_robot_description/pr2 -->
  <group name="wg">
    <!-- send pr2.xml to param server -->
    <include file="$(find wg_robot_description)/pr2/send_description.launch" />

    <!-- start gazebo -->
    <node pkg="gazebo" type="gazebo" args="-n $(find gazebo_robot_description)/world/robot_simple.world" respawn="false" output="screen">
      <env name="LD_LIBRARY_PATH" value="$(find gazebo_plugin)/lib:$(find gazebo)/gazebo/lib:$(find Cg)/Cg/lib:$LD_LIBRARY_PATH" />
      <env name="GAZEBO_RESOURCE_PATH" value="$(find gazebo_robot_description)/world" />
      <env name="OGRE_RESOURCE_PATH" value="$(find ogre)/ogre/lib/OGRE" />
      <env name="MC_RESOURCE_PATH" value="$(find gazebo_robot_description)/world" />
    </node>

    <!-- load controllers -->
    <include file="$(find pr2_gazebo)/pr2_default_controllers.launch" />
  </group>
</launch>

