<launch>
  <include file="$(find gazebo)/launch/wg_world.launch" />

  <!-- send pr2.xml to parameter server as a string, allow retrieval by various components whe needs it (Mechanism Control, BaseControllerNode, etc...) -->
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/prototype1.xacro.xml'" />

  <!-- push robotdesc/pr2 to factory and spawn robot in gazebo -->
  <node pkg="gazebo_plugin" type="urdf2factory" args="robotdesc/pr2 -5 -15 0 0 0 90" respawn="false" output="screen" />

  <!-- Joystick uncomment if you have joystick
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>
  -->

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

</launch>

