<launch>
  <include file="$(find gazebo)/launch/empty_world.launch" />
  <!-- pr2 -->
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/pr2.xacro.xml'" />
  <node pkg="gazebo_plugin" type="urdf2factory" args="robotdesc/pr2 -0.5 0 0 0 0 0" respawn="false" output="screen" />
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- table -->
  <param name="desk3" textfile="$(find gazebo_robot_description)/gazebo_objects/desk3.model" />
  <node pkg="gazebo_plugin" type="xml2factory" args="desk3 1.0 0.0 0.0 0 0 0 desk3" respawn="false" output="screen" />

  <!-- cups -->
  <param name="000_580_67"      textfile="$(find gazebo_robot_description)/gazebo_objects/000.580.67.model" />
  <param name="001_327_79"      textfile="$(find gazebo_robot_description)/gazebo_objects/001.327.79.model" />
  <param name="701_330_68"      textfile="$(find gazebo_robot_description)/gazebo_objects/701.330.68.model" />
  <node pkg="gazebo_plugin" type="xml2factory" args="000_580_67 1.0  0.0 0.56 0 0 0 000_580_67" respawn="false" output="screen" />
  <node pkg="gazebo_plugin" type="xml2factory" args="001_327_79 1.0 -0.5 0.56 0 0 0 001_327_79" respawn="false" output="screen" />
  <node pkg="gazebo_plugin" type="xml2factory" args="701_330_68 1.0  0.5 0.56 0 0 0 701_330_68" respawn="false" output="screen" />

</launch>

