
body { 
  margin: 0px;
  background-color: white;
  color: #000;
}

A:hover { text-decoration: underline; color: red;}
A:active { text-decoration: none}
A:visited { text-decoration: none; color: #00f;}
A:link { text-decoration: none; color: #00f;} 

.toolbar { 
  font-size: 11px; 
  font-family: arial,tahoma,helvetica,sans-serif;
  background-image: url('images/toolbar/tb-bg.gif');
}



td.field { 
  font-weight: bold;
  vertical-align: top;
  white-space: nowrap;
  width: 8%;  
  background-color: #ddffdd;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

tr.value { 
  background-color: #f0f0f0;
}
td.value { 
  vertical-align: top;
  white-space: nowrap;
  background-color: #f0f0f0;
}

td.failvalue { 
  vertical-align: top;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: blink;
  background-color: #aa0000;
}

tr.actions { 
}
td.actions { 
  vertical-align: top;
  white-space: nowrap;
  background-color: #cccccc;
}


.pagetitle { 
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.title { 
  font-size: 24px;
  font-weight: bold;
}

table.moveTable { 
  font-size: medium;
  font-weight: bold;
}

div.title { 
  font-size: medium;
  font-weight: bold;
}

table.head_buttons { 
  border-spacing: 12px;
}

td.head_buttons { 
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  text-align: center; 
  color: #fff;
  background-color: #333;
  border-style: solid;
  border-width: 2px;
  border-color: #ddd;
  width: 6em;
  height: 2em;
}

td.head_buttons:hover {
  border-color: #555555;
}

table.sortable { 
  border-style: solid;
  text-align: left;
  vertical-align: top;
  border-spacing: 0px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

th { 
  background-color: #ddffdd;
}

td.money { 
  text-align: right;
  border-left: 1px solid #000000;
}

table.multiple { 
  border-style: solid;
  text-align: left;
  vertical-align: top;
  border-spacing: 0px;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

table.single { 
  border-style: solid;
  text-align: left;
  vertical-align: top;
  border-spacing: 0px;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


tr.grey { 
  background-color: #222;
}


body {
  margin: 0px;
}

a.tablink {
}

td.buttonOff:hover {
  border-color: #555555;
}


td.buttonOff { 
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  text-align: center; 
  background-color: #aaaaaa;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  width: 6em;
  cursor: pointer;
  height: 100;
}
td.buttonOff:hover {
  border-color: #555555;
}
td.buttonOn:hover {
  border-color: #555555;
}
td.buttonOn { 
  font-family: Arial, Helvetica, Verdana, sans-serif; 
  color: #555555;
  text-align: center; 
  background-color: #dddddd;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  width: 6em;
  height: 100;
}

.buttonTitle {
  height: 70%;
  color: black;
  white-space: nowrap;
}

.buttonStatus {
  position: relative; 
  bottom: 0px; 
  font-size: 10pt;
}


table.powerboard { 
  border: 1px solid #000;
  background-color: #555;
}

td.powerboard { 
  width: 10em;
  text-align: center;
}

.powerboard_breaker_On { 
  background: green; 
  border: 1px solid #000;
}
.powerboard_breaker_Standby { 
  background: orange; 
  border: 1px solid #000;
}
.powerboard_breaker_Disabled { 
  background: red; 
  border: 1px solid #000;
}

.powerboard_runstop_stop { 
  background-color: red;
}

.powerboard_runstop_unknown { 
  background-color: red;
}

.powerboard_runstop_run { 
  background-color: green;
}

.powerboard_runstop_stall { 
  background-color: gray;
}

input.pbbutton { 
  width: 8em;
}

.rosout { 
  font-size: 12px; 
  font-family: arial,tahoma,helvetica,sans-serif;
}

.rosoutWidget { 
  border: 2px solid white; 
  height: 30em; 
  width: 80%;
}

table.rosout {
  table-layout: fixed;
  width: 100%;
  background-color: #e0e0e0;
}

td.rosoutHeading {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px;
  padding-left: 5px;
  background-image: url('images/toolbar/tb-bg.gif');
}

td.rosout {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px;
  padding-left: 5px;
}

.app { 
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  text-align: left;
  font-family: arial,tahoma,helvetica,sans-serif;
}

.app_bar { 
  vertical-align: top;
}

.app_name { 
  font-size: 16px; 
}

.app_status { 
  font-size: 12px; 
  text-align: center;
}
.app_button { 
  width: 5em;
}

.app_description {
  font-size: 12px; 
}
