<launch>
 
 
  <!-- Controller Required for tuck and untuck -->

  <group ns="r_arm_joint_trajectory_controller" clear_params="true">
    <param name="velocity_scaling_factor" value="0.75" type="double" />
    <param name="trajectory_wait_timeout" value="10.0" type="double" />
    
    <param name="r_shoulder_pan_joint/goal_reached_threshold" value="0.25" type="double" />
    <param name="r_shoulder_lift_joint/goal_reached_threshold" value="0.25" type="double" />
    <param name="r_upper_arm_roll_joint/goal_reached_threshold" value="0.25" type="double" />
    <param name="r_elbow_flex_joint/goal_reached_threshold" value="0.25" type="double" />
    <param name="r_forearm_roll_joint/goal_reached_threshold" value="0.25" type="double" />
    <param name="r_wrist_flex_joint/goal_reached_threshold" value="0.25" type="double" />
    <param name="r_wrist_roll_joint/goal_reached_threshold" value="0.25" type="double" /> 
    <param name="autostart" value="false" type="bool" /> 
  </group>
  
 
  <node pkg="mechanism_control" type="spawner.py" args="$(find plug_in)/integration/r_arm_joint_trajectory_controller.xml" />
  
  <!-- Controller and Node Required for plug on base detection -->
  
  
  <param name="laser_tilt_controller/autostart" value="false" type="bool" /> 
  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_experimental_controllers)/laser_tilt/laser_tilt_controller.xml" />
  
  <node pkg="point_cloud_assembler" type="laser_scan_assembler_srv" output="screen"  name="laser_scan_assembler">
    <remap from="scan_in" to="tilt_scan"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="400" />
    <param name="ignore_laser_skew" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="torso_lift_link" />
    <param name="downsample_factor" type="int" value="2" />
  </node>

  <node pkg="point_cloud_assembler" type="point_cloud_snapshotter" output="screen" name="snapshotter">
    <remap from="laser_scanner_signal" to="laser_tilt_controller/laser_scanner_signal"/>
    <remap from="build_cloud" to="laser_scan_assembler/build_cloud" />
    <remap from="full_cloud" to="snapshot_cloud" />
  </node>  
  
  <!-- Controller and Node Required for move and grasp -->
  <!-- Cartesian wrench controller -->
  <group ns="r_arm_cartesian_wrench_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="autostart" value="false" type="bool" /> 
  </group>

  <!-- Cartesian twist controller -->
  <group ns="r_arm_cartesian_twist_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_cartesian_wrench_controller" />

    <param name="ff_trans" value="0.0" />
    <param name="ff_rot" value="0.0" />

    <param name="fb_trans/p" value="20.0" />
    <param name="fb_trans/i" value="0.5" />
    <param name="fb_trans/d" value="0.0" />
    <param name="fb_trans/i_clamp" value="1.0" />

    <param name="fb_rot/p" value="0.5" />
    <param name="fb_rot/i" value="0.1" />
    <param name="fb_rot/d" value="0.0" />
    <param name="fb_rot/i_clamp" value="0.2" />
    <param name="autostart" value="false" type="bool" /> 
  </group>

  <!-- Cartesian pose controller -->
  <group ns="r_arm_cartesian_pose_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_cartesian_twist_controller" />

    <param name="p" value="20.0" />
    <param name="i" value="0.1" />
    <param name="d" value="0.0" />
    <param name="i_clamp" value="0.5" />
    <param name="autostart" value="false" type="bool" /> 
  </group>

  <!-- Cartesian trajectory controller -->
  <group ns="r_arm_cartesian_trajectory_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_cartesian_pose_controller" />

    <param name="max_vel_trans" value="0.4" />
    <param name="max_vel_rot" value="1.0" />
    <param name="max_acc_trans" value="0.2" />
    <param name="max_acc_rot" value="0.4" />
    <param name="autostart" value="false" type="bool" /> 
  </group>

    <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/r_arm_cartesian_wrench_controller.xml $(find pr2_default_controllers)/r_arm_cartesian_twist_controller.xml $(find pr2_default_controllers)/r_arm_cartesian_pose_controller.xml $(find pr2_default_controllers)/r_arm_cartesian_trajectory_controller.xml" />


  <!--Gripper position controller-->
  <node pkg="mechanism_control" type="spawner.py" args="$(find plug_in)/gripper_controller.xml"/>
  <param name="r_gripper_position_controller/autostart" value="false" type="bool" /> 
  
  
  <!-- Parameters for the controllers used in plugging in -->

  <group ns="r_arm_hybrid_controller" clear_params="true">
    <param name="type" value="CartesianHybridControllerNode" />
    <param name="root_link" value="torso_lift_link" />
    <param name="tip_link" value="r_gripper_tool_frame" />
    <param name="initial_mode" value="3" />
    <group ns="pose">
      <rosparam file="$(find pr2_default_controllers)/gains/arm_pose.yaml" command="load" />
    </group>
    <group ns="twist">
      <rosparam file="$(find pr2_default_controllers)/gains/arm_twist.yaml" command="load" />
    </group>
    <param name="twist_filter" command="./make_lowpass.m twist_filter 0.01" />
    <param name="saturated_velocity" value="0.5" />
    <param name="autostart" value="false" type="bool" />
  </group>

</launch>
