<launch>

  <param name="/sbpl/arm/env_config" textfile="$(find sbpl_arm_planner)/params.cfg" />
  <param name="/sbpl/arm/planner_config" textfile="$(find sbpl_arm_planner)/params.cfg" />

  <param name="sbpl_arm_check_path/num_joints" value="7" />

  <param name="sbpl_arm_check_path/torso_arm_offset_x" value="0.0" />
  <param name="sbpl_arm_check_path/torso_arm_offset_y" value="0.0" />
  <param name="sbpl_arm_check_path/torso_arm_offset_z" value="-0.188" />

  <param name="sbpl_arm_check_path/sbpl_env_config" value="/sbpl/arm/env_config"/>
  <param name="sbpl_arm_check_path/sbpl_planner_config" value="/sbpl/arm/planner_config" />

  <node pkg="sbpl_arm_check_path" type="sbpl_arm_check_path" name="sbpl_arm_check_path" output="screen" respawn="true"/>

</launch>