
<launch>
  <group name="wg">
    <node pkg="mechanism_control" type="spawner.py" args="$(find wg_robot_description)/laser_tilt/laser_tilt_controller.xml" />
    <node pkg="pr2_mechanism_controllers" type="control_laser.py" args="laser_controller sine 2 .45 .40" />

    <node pkg="point_cloud_assembler" type="point_cloud_assembler" output="screen"  name="assembler">
      <remap from="scan" to="tilt_scan"/>
      <param name="ignore_laser_skew" type="bool" value="true" />
    </node>

    <node pkg="point_cloud_assembler" type="point_cloud_snapshotter" output="screen" name="snapshotter">
      <remap from="laser_scanner_signal" to="laser_controller/laser_scanner_signal"/>
      <param name="fixed_frame" type="string" value="base_link" />
    </node>

    <param name="ransac_ground_plane_extraction/listen_topic" value="full_cloud"/>
    <param name="ransac_ground_plane_extraction/publish_ground_plane_topic" value="ground_plane"/>
    <param name="ransac_ground_plane_extraction/publish_obstacle_topic" value="obstacle_cloud"/>

    <param name="ransac_ground_plane_extraction/min_ignore_distance" value="-0.13"/>
    <param name="ransac_ground_plane_extraction/max_ignore_distance" value="0.07"/>
    <param name="ransac_ground_plane_extraction/distance_threshold" value="0.03"/>

    <param name="ransac_ground_plane_extraction/far_remove_distance_threshold" value="0.06"/>
    <param name="ransac_ground_plane_extraction/far_remove_distance" value="6.0"/>

    <param name="ransac_ground_plane_extraction/filter_delta" value="1.0"/>
    <param name="ransac_ground_plane_extraction/max_ransac_iterations" value="500"/>
    <param name="ransac_ground_plane_extraction/publish_obstacle_cloud" type="string" value="no"/>


  </group>
</launch>
