<launch>
  <include file="$(find gazebo)/launch/empty_world.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Joystick -->
  <!--
    <node pkg="spacenav_node" type="spacenav_node" />
    <node pkg="teleop_joint_effort" type="teleop_joint_effort_button.py" output="screen" />
    
  -->
  
  <!-- send pr2_r_arm.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/r_arm.xacro.xml'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node pkg="gazebo_tools" type="urdf2factory" args="robot_description" respawn="false" output="screen"/>


  <!-- start arm controller -->
  <!--
  <node pkg="mechanism_control" type="spawner.py" args="$(find arm_gazebo)/r_arm_constraint_controller.xml" respawn="false"  />
  -->
 
  
  <!-- start spacenav controller -->
  <!--
  <include file="$(find arm_life_test)/teleop_arm.launch"/>
  <node pkg="spacenav_node" type="spacenav_node" args="" respawn="false" output="screen" />
  -->

</launch>

