<launch>
  <!--node pkg="pr2_ik" type="pr2_ik_node" output="screen" name="pr2_ik_node">
    <param name="tip_name" value="r_wrist_roll_link" />  
    <param name="root_name" value="torso_lift_link" />  
  </node-->

    <param name="pr2_ik_regression_test/tip_name" value="r_wrist_roll_link" />  
    <param name="pr2_ik_regression_test/root_name" value="torso_lift_link" />  

</launch>