<launch>


  <!-- Detector -->
  <node pkg="led_detection" type="led_detector_node" name="stereo_left_detector" output="screen">
    <remap from="image"    to="/stereo/left/image_rect" />
    <remap from="cam_info" to="/stereo/left/cam_info" />
    <param name="use_led_pose" type="bool" value="false" />
    <param name="led_frame" type="string" value="r_wrist_roll_link" />
  </node>
  
  <!-- Viewer -->
  <node pkg="image_view" type="image_view" name="stereo_left_led_view" output="screen">
    <remap from="image" to="/stereo_left_detector/debug_image" />
  </node>
  
</launch>