<!-- 
This launch file runs the forearm_cam_color.launch file and a viewer
to show the resulting color image stream.

Edit forearm_cam_demo.launch in the forearm_cam package to set the camera url.
-->

<launch>
  <include file="$(find camera_launch_files)/forearm_cam_color.launch" />
  
  <node pkg="image_view" type="image_view" respawn="false" name="forearm_cam_demo_viewer">
    <param name="autosize" type="bool" value="True"/>
    <param name="window_name" type="str" value="'Forearm camera'"/>
    <remap from="image" to="forearm_cam_demo/image_color"/>
  </node>
</launch>
