<launch>
  <!--node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /robotdesc/pr2"/-->
  <node pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /u/blaise/work/pressure_sensor_test/test_configuration.xml" output="screen">
    <remap from="pressure" to="pressure_l"/>
  </node>


</launch>

