<launch>

  <!-- start collision map -->
  <include file="$(find 3dnav_pr2)/launch/perception/laser-perception-DOORS.launch" />   
  
  <!-- start move_arm -->
  <include file="$(find 3dnav_pr2)/launch/actions/right_arm.launch" />   
  
  <!-- start ompl planner -->
  <include file="$(find 3dnav_pr2)/launch/planning/bits/ompl_planning.launch" />

</launch>
