
<launch> 
  <node pkg="ompl_planning" type="motion_planner" respawn="true" output="screen">
    <remap from="robot_description" to="robotdesc/pr2" />
    <remap from="collision_map" to="collision_map_occ" />
    <remap from="collision_map_update" to="collision_map_occ_update" />
    <param name="refresh_interval_collision_map" type="double" value="5.0" />
    <param name="refresh_interval_kinematic_state" type="double" value="1.0" />
    <param name="verbose_collisions" type="bool" value="false" />
  </node>
</launch>
