
<launch> 
<!--
	<param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/pr2.xacro.xml'" />
-->
	<rosparam command="load" ns="robotdesc/pr2_planning" file="$(find planning_environment)/planning.yaml" />
	<rosparam command="load" ns="robotdesc/pr2_collision" file="$(find planning_environment)/collision_checks.yaml" />
	<node pkg="ompl_planning" type="motion_planner" args="robot_description:=robotdesc/pr2 collision_map:=collision_map_buffer" respawn="true" output="screen">
	      <param name="refresh_interval_collision_map" type="double" value="0.0" />
	      <param name="refresh_interval_kinematic_state" type="double" value="0.0" />
	      <param name="refresh_interval_base_pose" type="double" value="0.0" />
	      <param name="kinematic_planning_status_interval" type="double" value="0.02" />
	</node>
</launch>
