<launch>
    <include file="$(find pr2_alpha)/$(env ROBOT).machine" />

    <node pkg="costmap_2d" type="costmap_standalone" respawn="true" machine="two" output="screen" name="costmap_standalone">

      <param name="costmap_2d/base_laser_max_range" value="20.0"/>
      <param name="costmap_2d/tilt_laser_max_range" value="3.0"/>
      <param name="costmap_2d/lethal_obstacle_threshold" value="100.0"/>
      <param name="costmap_2d/z_threshold_max" value="2.0"/>
      <param name="costmap_2d/z_threshold_min" value="0.13"/>
      <param name="costmap_2d/no_information_value" value="255"/>
      <param name="costmap_2d/freespace_projection_height" value="2.0"/>
      <param name="costmap_2d/inflation_radius" value="0.46"/>
      <param name="costmap_2d/circumscribed_radius" value="0.46"/>
      <param name="costmap_2d/inscribed_radius" value="0.315"/>
      <param name="costmap_2d/robot_radius" value="0.315"/>
      <param name="costmap_2d/raytrace_window" value="4.0"/>
      <param name="costmap_2d/weight" value="0.1"/>

      <!-- Forces a check that we are receiving base scans that are correctly up to date at a rate of at least 2 Hz. This is
     way too slow for the real system, but necessary for rosstage, which does not reliably meet a 5Hz update rate. -->
      <param name="costmap_2d/base_laser_update_rate" value="2.0"/>

      <!-- Setting these parameters to 0.0 disables the watchdog on them. For stage this is required since we
     are not getting any data -->
      <param name="costmap_2d/tilt_laser_update_rate" value="0.0"/>
      <param name="costmap_2d/low_obstacle_update_rate" value="0.0"/>
      <param name="costmap_2d/stereo_update_rate" value="0.0"/>

<!-- These parameters determine which sensor streams are used to build the costmap-->
      <param name="costmap_2d/use_base_scan" value="true"/>
      <param name="costmap_2d/use_stereo" value="false"/>
      <param name="costmap_2d/use_tilt_scan" value="false"/>
      <param name="costmap_2d/use_low_obstacles" value="false"/>

    </node>

</launch>
