#! /usr/bin/env python
#*  All rights reserved.
#*
#*  Redistribution and use in source and binary forms, with or without
#*  modification, are permitted provided that the following conditions
#*  are met:
#*
#*   * Redistributions of source code must retain the above copyright
#*     notice, this list of conditions and the following disclaimer.
#*   * Redistributions in binary form must reproduce the above
#*     copyright notice, this list of conditions and the following
#*     disclaimer in the documentation and/or other materials provided
#*     with the distribution.
#*   * Neither the name of the Willow Garage nor the names of its
#*     contributors may be used to endorse or promote products derived
#*     from this software without specific prior written permission.
#*
#*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
#*  "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
#*  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
#*  FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
#*  COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
#*  INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
#*  BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
#*  LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
#*  CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
#*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
#*  ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
#*  POSSIBILITY OF SUCH DAMAGE.
#***********************************************************

# Author: Blaise Gassend

# Forearm camera configuration

PACKAGE='forearm_cam'
import roslib; roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.msg import SensorLevels
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator(PACKAGE, "ForearmCam")
#gen.add("exit_on_fault",    bool_t,       SensorLevels.RECONFIGURE_RUNNING, "Indicates if the driver should exit when an error occurs.", False) 
#gen.add("if_name", str_t, SensorLevels.RECONFIGURE_CLOSE, "The network interface to which the camera is connected. Use \"auto\" for automatic.", "auto") 
#gen.add("ip_address", str_t, SensorLevels.RECONFIGURE_CLOSE,  "The ip address to which the camera will be configured. Use \"auto\" for automatic.",  "auto") 
#gen.add("autogain", bool_t, SensorLevels.RECONFIGURE_CLOSE, False)
#gen.add("gain", int_t, SensorLevels.RECONFIGURE_CLOSE, "The camera analog gain. Use -1 for automatic.", 32, 16, 64)
#gen.add("port", int_t, SensorLevels.RECONFIGURE_CLOSE, "The local port the camera should connect to. Defaults to 9090.", 9090)

exit(gen.generate())
