<launch>

  <!-- Will have APC Battery drivers in here at some point -->
 
  <!-- Disk usage monitor -->
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home)" machine="realtime_root"/>
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home)" machine="two_root"/> 

  <!-- CPU monitors -->
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="$(optenv HOME /home)" machine="realtime_root"/>
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="$(optenv HOME /home)" machine="two_root"/> 

</launch>