<launch>
  <!-- Machines -->
  <include file="$(find pr2_head_cart)/hca.machine" />

  <!-- Description and etherCAT --> 
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/hca.xacro.xml'" />

  <node machine="realtime_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robotdesc/pr2" />

  <!-- Calibration -->
  <node pkg="mechanism_bringup" type="calibrate.py" 
  args="$(find pr2_default_controllers)/calibration_controllers/hca_calibration_controller.xml" output="screen" />

  <!-- Robot state publisher -->
  <node machine="two" pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
   <param name="publish_frequency" type="double" value="50.0" />
   <param name="tf_prefix" type="string" value="" />
 </node>

  <!-- Will have APC Battery drivers in here at some point -->
  
  <!-- Wide is on robot right, goes to hca1 -->
  <group ns="wide_stereo">
    <node machine="realtime" pkg="dcam" type="stereodcam" name="stereodcam" respawn="false" >
      <param name="videre_mode" type="str" value="none"/>
      <param name="fps" type="double" value="15.0"/>
      <param name="frame_id" type="string" value="stereo_optical_frame"/>
      <param name="exposure_auto" type="bool" value="true"/>
      <param name="brightness_auto" type="bool" value="true"/>
      <param name="gain_auto" type="bool" value="true"/>
    </node>  
  </group>

  <!-- Narrow is on robot left, goes to hca2 -->
  <group ns="narrow_stereo">
    <node machine="two" pkg="dcam" type="stereodcam" name="stereodcam" respawn="false" >
      <param name="videre_mode" type="str" value="none"/>
      <param name="fps" type="double" value="15.0"/>
      <param name="frame_id" type="string" value="stereo_optical_frame"/>
      <param name="exposure_auto" type="bool" value="true"/>
      <param name="brightness_auto" type="bool" value="true"/>
      <param name="gain_auto" type="bool" value="true"/>
    </node> 
  </group>
    
  <group ns="prosilica">
    <include file="$(find prosilica_cam)/cam_settings.xml" />
    <param name="acquisition_mode" type="str" value="Triggered" />
    <param name="ip_address" type="str" value="10.68.8.20" />
  </group>
  <node machine="two" name="prosilica" pkg="prosilica_cam" type="prosilica_node" output="screen" respawn="true" />  

  <!-- Hokuyo, plug in to machine 2 -->
  <node  machine="two" pkg="hokuyo_node" type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="laser_tilt_link" />
    <param name="min_ang_degrees" type="double" value="-80.0" />
    <param name="max_ang_degrees" type="double" value="80.0" />
    <param name="skip" type="int" value="1" />
  </node>

  <!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord" args="-f /hwlog/hca_runtime_automatic /diagnostics" />

  <!-- NTP monitoring script Warns to console if sync error -->
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="hca2" machine="realtime" />
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="fw1 7000" machine="two" /> 

  <!-- Disk usage monitor -->
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home)" machine="realtime_root"/>
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home)" machine="two_root"/> 

  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="$(optenv HOME /home)" machine="realtime_root"/>
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="$(optenv HOME /home)" machine="two_root"/> 



</launch>