<launch>
  <!-- Machines -->
  <include file="$(find pr2_head_cart)/hcc.machine" />

  <!-- Description and etherCAT --> 
  <include file="$(find pr2_defs)/launch/upload_hcc.launch" />

  <node machine="realtime_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robot_description" />

  <!-- Calibration -->
  <rosparam command="load" file="$(find pr2_default_controllers)/pr2_calibration_controllers.yaml" />
  <node pkg="mechanism_bringup" type="calibrate.py" output="screen"
        args="cal_head_pan cal_head_tilt cal_laser_tilt" />

<!-- Power Board Control Node -->
 <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

  <!-- Robot state publisher -->
  <node machine="two" pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
   <param name="publish_frequency" type="double" value="50.0" />
   <param name="tf_prefix" type="string" value="" />
  </node>
  
  <!-- Joint states diagnostics logging -->
  <node pkg="mechanism_control" type="joints_to_diagnostics.py" machine="realtime" />

  <include file="$(find pr2_head_cart)/cart_sensors.launch" />
  <include file="$(find pr2_head_cart)/cart_monitors.launch" />

  <!-- NTP monitoring script Warns to console if sync error -->
  <node pkg="pr2_computer_monitor" type="ntp_monitor.py" args="hcc2" machine="realtime" />
  <node pkg="pr2_computer_monitor" type="ntp_monitor.py" args="fw1 7000" machine="two" /> 

  <!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord" args="-f /hwlog/hcc_runtime_automatic /diagnostics" />

  <!-- Head cart diagnostic aggregation -->
  <node pkg="diagnostic_aggregator" type="aggregator_node"
        name="diag_agg_hcc" args="HCC" output="screen" >
    <rosparam command="load" 
              file="$(find pr2_head_cart)/cart_analyzers.yaml" />
  </node>

</launch>
