<launch>
  <group ns="stereo">
  	<node pkg="stereo_image_proc" type="stereoproc" args="" output="screen" name="stereoproc">
		<param name="do_rectify" type="bool" value="true"/>
		<param name="do_stereo" type="bool" value="true" />
	</node>
  </group>		

  <group ns="people">
  	 <param name="face_detector/do_continuous" type="bool" value="true" />
  	 <param name="face_detector/do_publish_faces_of_unknown_size" type="bool" value="false" />	
  	 <param name="face_detector/output" type="string" value="none" />
  </group>
  <node pkg="people" type="face_detector" args="$(find people)/face_detection_nodes.txt" output="screen"/>

</launch>
