<launch>
  <!-- this launch file corresponds to robot model in ros-pkg/robot_descriptions/pr2/erratic_defs/robots for full erratic -->

  <!-- start gazebo -->
  <include file="$(find gazebo)/launch/simple_world.launch" />

  <!-- Create a transform sender for linking these frames. -->
  <node pkg="tf" type="transform_sender" args="0 0 0 0 0 0 base_footprint base_link 40" />	

  <!-- send pr2.xml to param server -->
  <param name="robotdesc/erratic" command="$(find xacro)/xacro.py '$(find erratic_defs)/robots/erratic.xml'" />

  <!-- push robotdesc/erratic to factory and spawn robot in gazebo -->
  <node pkg="gazebo_plugin" type="urdf2factory" args="robotdesc/erratic" respawn="false" output="screen" />

  <!-- load controllers -->
  <node pkg="gazebo_plugin" type="ros_diffdrive" respawn="true" />
</launch>

