<!-- First, you much launch a simulated navigation stack.   E.g.,:

roscd 2dnav_stage
roslaunch 2dnav_stage_movebase_empty_room.launch
-->

<launch>

  <node pkg="executive_trex_pr2" type="fake_battery_controller.py">
    <remap from="battery_state" to="bogus_battery_state"/>
  </node>
  <node pkg="highlevel_controllers" type="recharge_controller">
    <remap from="battery_state" to="bogus_battery_state"/>
  </node>

  <node pkg="executive_python" type="run_milestone_1.py" output="screen"/>
</launch>
