<launch>


  <master auto="start"/>
  <group name="wg">
    <node pkg="doors_core" type="move_base_door" respawn="false" name="door_reactive_planner" output="screen">

      <param name="min_distance_from_obstacles" value="0.05" />
      <param name="max_waypoint_distance" value="0.025" />
      <param name="max_waypoint_rot_distance" value="0.2" />
      <param name="max_explore_distance" value="2.0" />
      <param name="horizontal_explore_distance" value="0.08" />
      <param name="max_explore_delta_angle" value="1.0" />
      <param name="door_goal_distance" value="0.7" />
      <param name="num_explore_paths" value="32" />
      <param name="choose_straight_line_trajectory" value="true" type="bool" />
      <param name="inscribed_radius" value="0.315" />
      <param name="circumscribed_radius" value="0.46" />
      <param name="inflation_radius" value="0.46" />
      <param name="control_frame" value="odom" />

      <!-- Start Costmap Parameters -->
      <param name="costmap/global_frame" value="odom_combined" />
      <param name="costmap/robot_base_frame" value="base_link" />
      <param name="costmap/update_frequency" value="5.0" />
      <param name="costmap/publish_frequency" value="2.0" />
      <param name="costmap/obstacle_range" value="2.5" />
      <param name="costmap/max_obstacle_height" value="2.0" />
      <param name="costmap/raytrace_range" value="3.0" />

      <param name="costmap/observation_topics" value="base_scan" />

      <param name="costmap/base_scan/sensor_frame" value="frame_from_message" />
      <param name="costmap/base_scan/observation_persistance" value="0.0" />
      <param name="costmap/base_scan/expected_update_rate" value="0.2" />
      <param name="costmap/base_scan/data_type" value="LaserScan" />
      <param name="costmap/base_scan/clearing" value="true" />

      <param name="costmap/rolling_window" value="false" />
      <param name="costmap/static_map" value="false" />

      <!-- begin only used if static map is set to false -->
      <param name="costmap/width" value="6.0" />
      <param name="costmap/height" value="6.0" />
      <param name="costmap/origin_x" value="-3.0" />
      <param name="costmap/origin_y" value="-3.0" />
      <param name="costmap/resolution" value="0.01" />
      <!-- end only used if static map is set to false -->

      <param name="costmap/cost_scaling_factor" value="1.0" />
      <param name="costmap/lethal_cost_threshold" value="100" />
      <!-- End Costmap Parameters -->


    </node>
  </group>
</launch>
