
<launch>
    <node pkg="tabletop_objects" name="tabletop_detector" type="tabletop_detector" respawn="true" output="screen">
        <!--remap from="stereo" to="narrow_stereo" /-->
        <param name="display" type="bool" value="false" />
        <param name="target_frame" value="base_link" />
    </node>

    <node pkg="tabletop_objects" name="model_fitter" type="model_fitter" respawn="false" output="screen">
        <param name="display" type="bool" value="true" />
        <param name="template_path"  value="$(find tabletop_objects)/meshes" />
    </node>

</launch>

