<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/r_arm.xacro.xml'" />
  <include file="$(find pr2_arm)/calibrate.launch" />
  <group name="wg">
    <node pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robot_description"
          output="screen"/>
  </group>
</launch>

