<launch>

  <node pkg="people" type="face_detector" args="frontalface $(find opencv_latest)/opencv/share/opencv/haarcascades/haarcascade_frontalface_alt.xml 0.9" name="face_detector" output="screen">
  	 <param name="do_continuous" type="bool" value="false" />
  	 <param name="do_publish_faces_of_unknown_size" type="bool" value="false" />	
	 <param name="do_display" type="string" value="none" />
  	 <param name="output" type="string" value="none" />
  	 <param name="stereo_namespace" type="string" value="wide_stereo"/>
  </node>

</launch>
