<launch>

  <include file="$(find pr2_alpha)/$(env ROBOT).machine" />

<!-- controllers-->
  <include file="$(find writing_core)/launch/controllers.launch" />


<!-- perception-->
  <include file="$(find writing_core)/launch/perception.launch" />

<!-- writing_core -->
<!--  <include file="$(find writing_core)/launch/writing_actions.launch" />-->
<!--  <include file="$(find writing_core)/launch/whiteboard_detector.launch" />-->
  <include file="$(find writing_core)/launch/face_detector.launch" />


</launch>
