<launch>
  <node pkg="rviz" type="rviz" name="rviz">
    <remap from="goal" to="/move_base_local/activate" />
  </node>
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="/move_base_local/base_local_planner/costmap/voxel_grid_throttled"/>
  </node>
</launch>
