<launch>
  <!-- Tug Arms For Navigation -->
  <node pkg="mechanism_control" type="spawner.py" args="$(find arm_gazebo)/l_arm_default_controller.xml" output="screen" machine="four" />
  <node pkg="mechanism_control" type="spawner.py" args="$(find arm_gazebo)/r_arm_default_controller.xml" output="screen" machine="four" />
  <node pkg="pr2_gazebo" type="tuck_arms.py" output="screen"/>
</launch>
