<launch>
  <group name="wg">
    <include file="$(find pr2_alpha)/$(env ROBOT).machine" />
    <include file="$(find 2dnav_pr2)/config/base_odom_teleop.launch" />
    <include file="$(find 2dnav_pr2)/config/lasers_and_filters.launch" />
    <include file="$(find 2dnav_pr2)/config/ground_plane.launch" />

    <!-- The naviagtion stack and associated parameters -->
    <include file="$(find 2dnav_pr2)/move_base_local/move_base_local.launch" />
  </group>
</launch>
