<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!--                    Calibration                            -->

  <macro name="caster_calibrator" params="suffix">
    <controller type="CasterCalibrationControllerNode"
                name="cal_caster_${suffix}" topic="cal_caster_${suffix}">
      <calibrate joint="${suffix}_caster_rotation_joint"
                 actuator="${suffix}_caster_rotation_motor"
                 transmission="${suffix}_caster_rotation_trans"
                 velocity="2.0" />
      <joints caster="${suffix}_caster_rotation_joint"
              wheel_l="${suffix}_caster_l_wheel_joint"
              wheel_r="${suffix}_caster_r_wheel_joint" />
      <caster_pid p="6" i="0" d="0" iClamp="0" />
      <wheel_pid p="4" i="0" d="0" iClamp="0" />
    </controller>
  </macro>

  <macro name="caster_calibrator_alpha2" params="suffix">
    <controller type="CasterCalibrationControllerNode"
                name="cal_caster_${suffix}" topic="cal_caster_${suffix}">
      <calibrate joint="${suffix}_caster_rotation_joint"
                 actuator="${suffix}_caster_rotation_motor_alpha2"
                 transmission="${suffix}_caster_rotation_trans"
                 velocity="1.0" />
      <joints caster="${suffix}_caster_rotation_joint"
              wheel_l="${suffix}_caster_l_wheel_joint"
              wheel_r="${suffix}_caster_r_wheel_joint" />
      <caster_pid p="6" i="0" d="0" iClamp="0" />
      <wheel_pid p="6" i="0" d="0" iClamp="0" />
    </controller>
  </macro>

  <macro name="base_calibrator_alpha2">
    <caster_calibrator_alpha2 suffix="fl" />
    <caster_calibrator_alpha2 suffix="fr" />
    <caster_calibrator_alpha2 suffix="bl" />
    <caster_calibrator_alpha2 suffix="br" />
  </macro>


  <macro name="base_calibrator">
    <caster_calibrator suffix="fl" />
    <caster_calibrator suffix="fr" />
    <caster_calibrator suffix="bl" />
    <caster_calibrator suffix="br" />
  </macro>


</robot>
