<?xml version="1.0"?>

<robot>

  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/scripts"/>
  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/textures"/>

  <macro name="pr2_torso_rviz" params="name parent">
    <rviz reference="${name}_link">
      <material value="PR2/Grey2" />
    </rviz>
  </macro>



</robot>
