<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <macro name="pr2_torso" params="name parent *origin">


    <link name="${name}_link">
      <joint name="${name}_joint" type="prismatic">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
        <!-- KWatts: Max should be 0.31, changed to 0.20 to prevent jamming -->
        <!-- HW ticket 481, will examine spine to determine failures -->
        <limit min="0.0" max="0.20" effort="10000" velocity="0.015"/>
        <safety_controller  k_velocity="400000" lower="${0.0+0.005}" upper="${0.20-0.005}" k_position="1000" />
        <joint_properties damping="10.0" />
        <parent name="${parent}">
          <insert_block name="origin" />
        </parent>
      </joint>

      <inertial>
        <mass value="36.248046" />
        <origin xyz="-0.1 0 -0.0885" />
        <inertia ixx="2.771653750257" ixy="0.004284522609" ixz="-0.160418504506"
                 iyy="2.510019507959" iyz="0.029664468704" izz="0.526432355569" />
      </inertial>

      <visual name="${name}_visual">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry name="${name}_visual_geom">
          <mesh filename="torso.stlb" />
        </geometry>
      </visual>

      <collision name="${name}_collision">
        <origin xyz="-0.1 0 -0.0885" rpy="0 0 0" />
        <geometry name="${name}_collision_geom">
          <box size="0.30 0.620 0.823" />
        </geometry>
      </collision>
    </link>


    <gazebo name="${name}_sensor" reference="${name}_link">
      <sensor:contact name="${name}_contact_sensor">
        <geom>${name}_collision</geom>
        <updateRate>100.0</updateRate>
        <controller:ros_bumper name="${name}_ros_bumper_controller" plugin="libros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>100.0</updateRate>
          <bumperTopicName>${name}_bumper</bumperTopicName>
          <interface:bumper name="${name}_ros_bumper_iface" />
        </controller:ros_bumper>
      </sensor:contact>
    </gazebo>
    <gazebo name="gazebo_material" reference="${name}_visual">
      <material value="PR2/Grey2" />
    </gazebo>

    <ogre name="${name}_visual_mesh" reference="${name}_visual">
      <mesh value="torso.mesh" />
    </ogre>

    <transmission type="SimpleTransmission" name="${name}_trans">
      <actuator name="${name}_motor" />
      <joint name="${name}_joint" />
      <mechanicalReduction>-52143.33</mechanicalReduction>
      <calibration reference_position="0.00536" values="0 0" />
    </transmission>

  </macro>


  <!--                    Calibration                            -->

  <macro name="torso_calibrator">
    <controller type="JointCalibrationControllerNode"
                name="cal_torso_lift" topic="cal_torso">
      <calibrate joint="torso_lift_joint"
                 actuator="torso_lift_motor"
                 transmission="torso_lift_trans"
                 velocity="-2.0" />
      <pid p="20000.0" i="10" d="0" iClamp="1000" />
    </controller>
  </macro>

<!-- Calibrates the torso by moving to the upper limit -->
<macro name="torso_limit_calibrator">
 <controller type="JointLimitCalibrationControllerNode"
    name="cal_torso_lift" topic="cal_torso">
   <calibrate joint="torso_lift_joint"
              actuator="torso_lift_motor"
              transmission="torso_lift_trans"
              velocity="2.0" />
   <pid p="20000" i="25" d="0" iClamp="1000" />
 </controller>
</macro>

</robot>
