<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <!--                    Calibration                            -->
  <macro name="gripper_calibrator" params="side">
    <controller name="cal_${side}_gripper" type="GripperCalibrationControllerNode">
      <calibrate joint="${side}_gripper_joint"
                 actuator="${side}_gripper_motor"
                 velocity="-0.01" />
      <pid p="15000" i="25.0" d="0" iClamp="100.0" />
    </controller>
  </macro>

</robot>
