<launch>
  <group ns="prosilica">
    <param name="ip_address" type="str" value="169.254.68.68"/>
    <param name="acquisition_mode" type="str" value="Continuous"/>
  </group>
  <node name="prosilica" pkg="prosilica_cam" type="prosilica_node" respawn="false"/>

  <group ns="checkerdetector" clear_params="true">
    <param name="display" type="int" value="1"/>
    <param name="frame_id" type="string" value=""/>
    <!--param name="rect0_size_x" type="double" value="1"/>
    <param name="rect0_size_y" type="double" value="1"/>
    <param name="grid0_size_x" type="int" value="6"/>
    <param name="grid0_size_y" type="int" value="9"/-->
    <param name="rect0_size_x" type="double" value="0.19"/>
    <param name="rect0_size_y" type="double" value="0.19"/>
    <param name="grid0_size_x" type="int" value="3"/>
    <param name="grid0_size_y" type="int" value="4"/>
    <node pkg="checkerboard_detector" type="checkerboard_detector" respawn="false" output="screen">
      <remap from="CamInfo" to="/prosilica/cam_info"/>
      <remap from="Image" to="/prosilica/image"/>
    </node>
  </group>
</launch>
