<launch>
  <group ns="prosilica">
    <param name="ip_address" type="str" value="169.254.10.28"/>
    <!--param name="guid" type="str" value="101551"/-->
    <!--param name="guid" type="str" value="101749"/-->
    <param name="acquisition_mode" type="str" value="Continuous"/>
  </group>
  <node name="prosilica" pkg="prosilica_cam" type="prosilica_node" respawn="false" output="screen"/>
  <node name="prosilica_view" pkg="prosilica_cam" type="prosilica_view" respawn="false" output="screen">
    <!--remap from="Image" to="/prosilica/image"/-->
    <remap from="Image" to="/prosilica/image_rect"/>
  </node>
</launch>
