<launch>
  <group ns="hokuyo">
    <param name="calibrate_time" type="bool" value="false"/>
  </group>
  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen"/>
  
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen" args="-d $(find hokuyo_node)/hokuyo_test.vcg"/>
  
  <node name="tf_FRAMEID_LASER" pkg="tf" type="transform_sender" args="0 0 0 0 0 0 FRAMEID_LASER FRAMEID_LASER 100" respawn="false" output="screen"/>
  
</launch>
