<launch>
    <param name="/stereo/videre_mode" type="str" value="none"/>
    <param name="/stereo/do_colorize" type="bool" value="True"/>
    <param name="/stereo/do_rectify" type="bool" value="True"/>
    <param name="/stereo/do_stereo" type="bool" value="True"/>
    <param name="/stereo/do_calc_points" type="bool" value="True"/>
    <param name="/stereo/do_keep_coords" type="bool" value="True"/>


  <node name="stereoproc" pkg="stereo_image_proc" type="stereoproc" respawn="false" />
  <node name="stereo_capture" pkg="stereo_capture" type="stereo_capture" respawn="false" output="screen"/>
</launch>

