<launch>
  

  <!-- send pr2.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find m3_simulator)/pr2_sensorless.xacro.xml'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node pkg="gazebo_plugin" type="urdf2factory" args="robot_description" respawn="false" output="screen" />
 
  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Start gazebo -->
  <include file="$(find gazebo)/launch/office_world.launch" />

</launch>

