<launch>

<!-- Laset tilt controller -->
  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/laser_tilt_controller.xml" />
  <node pkg="pr2_mechanism_controllers" type="control_laser.py" args="laser_tilt_controller sine 20 .75 .25" />


<!-- Build snapshots -->
  <node pkg="point_cloud_assembler" type="laser_scan_assembler_srv" output="screen"  name="laser_scan_assembler">
    <remap from="scan_in" to="tilt_scan"/>
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="400" />
    <param name="ignore_laser_skew" type="bool" value="true" />
    <param name="fixed_frame" type="string" value="torso_lift_link" />
    <param name="downsample_factor" type="int" value="2" />
  </node>

  <node pkg="point_cloud_assembler" type="point_cloud_snapshotter" output="screen" name="snapshotter">
    <remap from="laser_scanner_signal" to="laser_tilt_controller/laser_scanner_signal"/>
    <remap from="build_cloud" to="laser_scan_assembler/build_cloud" />
    <remap from="full_cloud" to="snapshot_cloud" />
  </node>


<!-- Door detection -->
  <param name="door_handle_detector/door_frame_multiplier" value="-1" />
  <param name="door_handle_detector/nr_scans" value="1" />
  <param name="door_handle_detector/handle_distance_door_min_threshold" value="0.05" />
  <param name="door_handle_detector/handle_distance_door_max_threshold" value="0.20" />
  <param name="door_handle_detector/handle_height_threshold" value="0.05" />
  <param name="door_handle_detector/door_min_height" value="1.5" />
  <param name="door_handle_detector/door_max_height" value="3.0" />
  <param name="door_handle_detector/door_min_width" value="0.85" />
  <param name="door_handle_detector/door_max_width" value="1.2" />
  <param name="door_handle_detector/clusters_growing_tolerance" value="0.04" />
  <param name="door_handle_detector/normal_eps_angle_" value="15.0" />-->

  <node pkg="door_handle_detector" type="door_handle_detector_node" name="door_handle_detector" output="screen" respawn="true">
  <remap from="full_cloud" to="snapshot_cloud" />
  </node>

</launch>
