<launch>
  
  <machine name="realtime_root" user="root" address="texas" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never"/>
  <machine name="realtime" address="texas" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="true"/>

  <!-- Uses special defs file for Alpha 2.0 hardware on PRE -->
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find texas)/texas.xml'" />

  <!-- Definitions for calibration controllers -->
  <rosparam command="load" file="$(find pr2_default_controllers)/pr2_calibration_controllers.yaml" />
  <node pkg="mechanism_bringup" type="calibrate.py" args="cal_caster_bl"/>

<!-- pr2_etherCAT -->
  <node machine="realtime_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /robotdesc/pr2" output="screen"/>

<!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord" args="-f /hwlog/pre_runtime_automatic /diagnostics" />

</launch>

