<launch>
    <node pkg="planar_objects" type="box_tracker" respawn="false" output="screen" name="box_tracker">
      <param name="visualize_obs" type="bool" value="true"/>
      <param name="visualize_tracks" type="bool" value="true"/>
      <param name="verbose" type="bool" value="true"/>

      <param name="timeout" value="20.0"/>

      <param name="translation_tolerance" type="double" value="0.20"/>
      <param name="rotation_tolerance" type="double" value="0.3"/>
      <param name="size_tolerance" type="double" value="0.03"/>

    </node>
</launch>

