<launch>
  <master auto="start"/>
  <node pkg="nav_view" type="nav_view" respawn="false">
  <remap from="goal" to="/move_base/activate" />
  <remap from="raw_obstacles" to="/move_base/base_local_planner/costmap/raw_obstacles" />
  <remap from="inflated_obstacles" to="/move_base/base_local_planner/costmap/inflated_obstacles" />
  <remap from="gui_path" to="/move_base/navfn/plan" />
  <remap from="local_path" to="/move_base/base_local_planner/local_plan" />
  <remap from="robot_footprint" to="/move_base/base_local_planner/robot_footprint"/>
  </node>
</launch>
