<launch>
  <node pkg="laser_scan" type="scan_shadows_filter_node" output="screen" name="shadows_filter">
    <param name="high_fidelity" type="bool" value="false" />
    <param name="filter_min_angle" type="double" value="20.0" />
    <param name="filter_max_angle" type="double" value="160.0" />
  </node>
  <node pkg="robot_self_filter" type="robotlinks_filter_node" args="--robotfile robots/pr2full.robot.xml --padding 0.05 --accuratetiming 0" output="screen">
    <env name="OPENRAVE_DATA" value="$(find openrave)/share/openrave:$(find openrave_robot_description)"/>
    <env name="OPENRAVE_PLUGINS" value="$(find openrave)/share/openrave/plugins"/>
  </node>
  <node pkg="point_cloud_assembler" type="point_cloud_assembler_srv" output="screen"  name="point_cloud_assembler">
    <remap from="scan_in" to="robotlinks_cloud_filtered" />
    <param name="tf_cache_time_secs" type="double" value="10.0" />
    <param name="max_scans" type="int" value="400" />
    <param name="fixed_frame" type="string" value="base_link" />
    <param name="downsample_factor" type="int" value="1" />
  </node>
  <node pkg="point_cloud_assembler" type="point_cloud_snapshotter" output="screen" name="snapshotter">
    <remap from="laser_scanner_signal" to="laser_tilt_controller/laser_scanner_signal"/>
    <remap from="build_cloud" to="point_cloud_assembler/build_cloud" />
    <remap from="full_cloud" to="tilt_laser_cloud" />
  </node>
  <node pkg="collision_map" type="collision_map_buffer_node" name="collision_map_buffer" respawn="true" output="screen">
    <param name="end_effector_frame_l" type="string" value="r_gripper_l_finger_tip_link" />
    <param name="end_effector_frame_r" type="string" value="r_gripper_r_finger_tip_link" />
    <param name="robot_max_x" type="double" value="1.2" />
    <param name="robot_max_y" type="double" value="1.2" />
    <param name="robot_max_z" type="double" value="1.2" />
    <param name="leaf_width_x" type="double" value="0.02" />
    <param name="leaf_width_y" type="double" value="0.02" />
    <param name="leaf_width_z" type="double" value="0.02" />
    <param name="window_size" type="int" value="20" />
    <remap from="full_cloud" to="tilt_laser_cloud" />
  </node>
</launch>
