<launch>
 
  <!-- Disk usage monitor -->
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home) /dev/sda" machine="realtime_root"/>
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home) /dev/sda" machine="two_root"/> 
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home) /dev/sda" machine="three_root"/> 
  <node pkg="pr2_computer_monitor" type="hd_monitor.py" args="$(optenv HOME /home) /dev/sda" machine="four_root"/> 

  <!-- CPU monitors -->
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="--no_cpu_temp" machine="realtime_root"/>
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="--no_cpu_temp" machine="two_root"/> 
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="--no_cpu_temp" machine="three_root"/> 
  <node pkg="pr2_computer_monitor" type="cpu_monitor.py" args="--no_cpu_temp" machine="four_root"/> 

</launch>