<launch>
  <!-- Uses special defs file for Alpha 2.0 hardware on PRE -->
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/pre.xacro.xml'" />

  <include file="$(find pr2_alpha)/pre.machine" />

<!-- pr2_etherCAT -->
  <node machine="realtime_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /robotdesc/pr2"/>

<!-- PR2 Calibration -->
  <include file="$(find pr2_alpha)/calibrate_pre.launch" />
  
</launch>
