<launch>

  <!-- Calibrated Robot -->
  <include file="$(find pr2_defs)/launch/upload_prf.launch" />

  <!-- Uncalibrated Robot -->
  <!-- <include file="$(find pr2_defs)/launch/upload_pr2.launch" /> -->

  <include file="$(find pr2_alpha)/prf.machine" />

<!-- pr2_etherCAT -->
  <node machine="realtime_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x robot_description_new"/>

<!-- PR2 Calibration -->
  <rosparam command="load" file="$(find pr2_default_controllers)/pr2_calibration_controllers.yaml" />
  <rosparam command="load" file="$(find pr2_default_controllers)/pr2_joint_position_controllers.yaml" />
  <node pkg="mechanism_bringup" type="calibrate_pr2.py" output="screen" />
</launch>
