<launch>

  <include file="$(find pr2_alpha)/prg.machine" />
  <include file="$(find pr2_alpha)/prg_ethercat_reset.launch" />

<!-- Joystick -->
  <param name="joy/deadzone" value="5000"/> 
  <node machine="four" pkg="joy" type="joy"  respawn="true"/> 

<!-- Power Board Control Node -->
  <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

<!-- Robot state publisher -->
 <node machine="two" pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
   <param name="publish_frequency" type="double" value="50.0" />
   <param name="tf_prefix" type="string" value="" />
 </node>

<!-- Battery Monitor -->
  <node machine="two" pkg="ocean_battery_driver" type="monitor" respawn="true"/>
<!-- Battery Assertions -->
<include file="$(find ocean_battery_driver)/expected_batteries.launch"/>

<!-- Base Laser -->
  <node machine="two" pkg="hokuyo_node" type="hokuyo_node" name="base_hokuyo_node" args="scan:=base_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="base_laser" />
    <param name="min_ang_degrees" type="double" value="-130.0" />
    <param name="max_ang_degrees" type="double" value="130.0" />
  </node>

<!-- Tilt Laser -->
  <node  machine="realtime" pkg="hokuyo_node" type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="laser_tilt_link" />
    <param name="min_ang_degrees" type="double" value="-70.0" />
    <param name="max_ang_degrees" type="double" value="70.0" />
    <param name="skip" type="int" value="1" />
    <param name="intensity" value="true" />
  </node>

<!-- imu -->
  <param name="imu/time_offset" value="-0.040" />
  <param name="imu/port"  type="string" value="/dev/ttyUSB0" />
  <param name="imu/autostart" type="bool" value="true" />
  <param name="imu/frameid"  type="string" value="imu" />
  <param name="imu/autocalibrate" type="bool" value="true" />
  <node machine="four" pkg="imu_node" type="imu_node" output="screen"/>

<!-- Prosilica camera setup -->
<!-- Prosilica has been replaced by textured light projector -->
<!--  <group ns="prosilica">
    <include file="$(find prosilica_cam)/cam_settings.xml"/>
    <param name="acquisition_mode" type="str" value="Triggered"/>
    <param name="ip_address" type="str" value="10.68.7.20"/>
  </group> -->
  <!--
  <node machine="three" name="prosilica" pkg="prosilica_cam" type="prosilica_node" output="screen" respawn="true"/>
  -->

<!-- Sound  -->
  <node pkg="sound_play" type="soundplay_node.py" machine="realtime" />

<!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord" args="-f /hwlog/prg_runtime_automatic /diagnostics" />

<!-- Joint Calibration Monitor -->
<!--
  <node pkg="joint_calibration_monitor" type="pr2_calibration_monitor_node.py" machine="two" />
-->
<!-- NTP monitoring script Warns to console if sync error -->
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="prg2" machine="realtime"/>
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="fw1 7000" machine="two"/> 
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="prg2" machine="three"/>
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="prg2" machine="four"/>   
<!-- Disk usage monitoring script Warns to console if disk full -->
  <node pkg="pr2_computer_monitor" type="disk_usage.py" args="$(optenv HOME /home)" machine="realtime"/>
  <node pkg="pr2_computer_monitor" type="disk_usage.py" args="$(optenv HOME /home)" machine="two"/> 
  <node pkg="pr2_computer_monitor" type="disk_usage.py" args="$(optenv HOME /home)" machine="three"/>
  <node pkg="pr2_computer_monitor" type="disk_usage.py" args="$(optenv HOME /home)" machine="four"/>   

  <!-- Videre Stereo cam -->
  <include file="$(find pr2_alpha)/stereo.launch" />

  <!-- Plug to chessboard offsets -->
  <group ns="plug_detector">
    <param name="plug_position_x" value="0.0065" />
    <param name="plug_position_y" value="-0.0065" />
    <param name="plug_position_z" value="0.016" />
    <param name="plug_orientation_x" value="0.71428" />
    <param name="plug_orientation_y" value="-0.69958" />
    <param name="plug_orientation_z" value="0.00588" />
    <param name="plug_orientation_w" value="0.01906" />
  </group>


</launch>

