<launch>
  <!-- This controller file has the torso and head, which is unnecessary
       but not harmful -->
  <include file="$(find pr2_alpha)/teleop_controllers.launch" />

  <group name="keyboard_teleop" >
    <param name="walk_vel" value="0.5" />
    <param name="run_vel" value="1.0" />
    <param name="yaw_rate" value="1.0" />
    <param name="yaw_run_rate" value="1.5" />
        
    <node pkg="teleop_pr2" type="teleop_pr2_keyboard" output="screen"/>
  </group>
</launch>

