<launch>

<!-- use sim time -->
  <param name="use_sim_time" type="bool" value="true" />

<!-- detectors -->
  <include file="$(find door_handle_detector)/launch/door_handle_detector.xml" />

<!-- play bag file -->
  <node pkg="rosrecord" type="rosplay" args="-b 100  $(find door_handle_detector)/launch/full_cloud_laser.bag " />

<!-- run test  -->
  <node pkg="door_handle_detector" type="detect_handle_from_bag.py" args="" output="screen" />

</launch>
