<launch>

  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch" />

  <rosparam command="load" file="$(find pr2_default_controllers)/arm_cartesian_controllers.yaml" />
  <node pkg="mechanism_control" type="spawner.py" args="r_arm_cartesian_pose_controller" />

  <!--
      <node pkg="pr2_default_controllers" type="tuckarm.py" args="l" />
      -->

  <node pkg="handhold" type="handhold" />

</launch>
