<launch>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_gripper_controller)/launch/gripper.xml'" />

  <!-- Loads realtime machine and PR2_etherCAT -->
  <include file="$(find pr2_gripper_controller)/launch/init.machine" />
  <include file="$(find pr2_gripper_controller)/launch/pr2_etherCAT.launch" />

  <!-- Gripper Calibration -->
  <node pkg="mechanism_bringup" type="calibrate.py" args="$(find pr2_gripper_controller)/launch/gripper_cal.xml" />
  
  <!-- GUI -->
  <include file="$(find fingertip_pressure)/demo/fingertip_demo_no_sim.launch" />

</launch>
