<launch>

  <include file="$(find 3dnav_pr2)/launch/pr2_planning_environment.launch" />
<!--  <include file="$(find pr2_ik)/pr2_ik_rarm_node.launch"/> -->
  <include file="$(find pr2_ik)/pr2_ik_rarm_node.launch"/>

  <rosparam file="$(find pr2_default_controllers)/r_arm_trajectory_controller.yaml" command="load" ns="r_arm_trajectory_controller"/>

  <node pkg="mechanism_control" type="spawner.py" args="r_arm_trajectory_controller" output="screen"/>

  <include file="$(find joint_waypoint_controller)/launch/r_arm_joint_waypoint_controller.launch"/>

  <include file="$(find move_arm)/launch/move_rarm.launch"/> 
</launch>
