<launch>
  <master auto="start"/>
  <group name="wg">
    <node pkg="nav" type="move_base_local" respawn="false" name="local_controller_node" output="screen">
      <remap from="/local_controller_node/activate" to="/goal" />
      <remap from="~base_local_planner/global_plan" to="/gui_path" />
      <remap from="~base_local_planner/local_plan" to="/local_path" />
      <remap from="~base_local_planner/robot_footprint" to="/robot_footprint" />

      <param name="global_frame" value="map" />
      <param name="robot_base_frame" value="base_link" />

      <rosparam file="$(find test_nav)/config/costmap_common_params.yaml" command="load" ns="base_local_planner" />
      <rosparam file="$(find test_nav)/move_base_local/base_local_planner_params.yaml" command="load" />

    </node>
    <!--
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-empty-0.05.pgm 0.05" respawn="false" />
    <node pkg="stage" type="stageros" name="stageros" args="$(optenv ROS_STAGE_GRAPHICS -g) $(find 2dnav_stage)/worlds/willow-pr2-5cm-fake.world" respawn="false" >
      <param name="base_watchdog_timeout" value="0.2"/>
    </node>
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-full-0.05.pgm 0.05" respawn="false" />
    <node pkg="stage" type="stageros" name="stageros" args="$(optenv ROS_STAGE_GRAPHICS -g) $(find 2dnav_stage)/worlds/willow-pr2-5cm.world" respawn="false" >
      <param name="base_watchdog_timeout" value="0.2"/>
    </node>
    -->
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-full-0.025.pgm 0.025" respawn="false" />
    <node pkg="stage" type="stageros" name="stageros" args="$(optenv ROS_STAGE_GRAPHICS -g) $(find 2dnav_stage)/worlds/willow-pr2-2.5cm.world" respawn="false" >
      <param name="base_watchdog_timeout" value="0.2"/>
    </node>
    <node pkg="fake_localization" type="fake_localization" respawn="false" />
    <node pkg="nav_view" type="nav_view" respawn="false">
    </node>
  </group>
</launch>
