<?xml version="1.0"?>

<robot>

  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/scripts"/>
  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/textures"/>

  <!-- Alpha 2.0 head -->
  <!-- Different calibration values, effort/position limits and 
       different joint link positions -->
  <macro name="pr2_head_pan_alpha2_rviz" params="name">
    <rviz reference="${name}_link">
      <material value="PR2/Blue" />
    </rviz>
  </macro>

  <!-- Reverts to small tilt motor, still has same cal flags and limits -->
  <macro name="pr2_head_tilt_alpha2_rviz" params="name">
    <rviz reference="${name}_link">
      <material value="PR2/Green" />
    </rviz>
  </macro>


  <macro name="pr2_head_tilt_alpha2a_rviz" params="name">
    <!-- Motor must be configured with 148877 motor -->
    <rviz reference="${name}_link">
      <material value="PR2/Green" />
    </rviz>
  </macro>

  <macro name="pr2_head_tilt_alpha2b_rviz" params="name">
    <rviz reference="${name}_link">
      <material value="PR2/Green" />
    </rviz>
  </macro>

  <macro name="pr2_head_alpha2_rviz" params="name">
    <rviz reference="${name}_plate_frame_link">
      <material value="PR2/Blue" />
    </rviz>
  </macro>


  <!-- Difference between two heads is motors and gearheads -->
  <macro name="pr2_head_alpha2a_rviz" params="name">
    <rviz reference="${name}_plate_frame_link">
      <material value="PR2/Blue" />
    </rviz>
  </macro>

  <macro name="pr2_head_alpha2b_rviz" params="name">
    <rviz reference="${name}_plate_frame_link">
      <material value="PR2/Blue" />
    </rviz>
  </macro>


</robot>
