<?xml version="1.0"?>
<root>

  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/scripts"/>
  <rviz_resource_location path="$(find pr2_ogre)/Media/materials/textures"/>
    
  <macro name="prosilica_cam_rviz" params="name">
    <rviz reference="${name}_frame">
      <material value="PR2/Blue" />
    </rviz>
  
    <rviz reference="${name}_optical_frame">
      <material value="PR2/Blue" />
    </rviz>
    
  </macro>

</root>
