<launch>

<!-- Set the remote machines -->
  <machine name="camera" address="$(env PRCAM)" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" />


<!-- Stereo parameters -->
  <group ns="stereo">
    <param name="videre_mode" type="str" value="none"/>
    <param name="do_colorize" type="bool" value="True"/>
    <param name="do_rectify" type="bool" value="True"/>
    <param name="do_stereo" type="bool" value="False"/>
    <param name="do_calc_points" type="bool" value="False"/>
    <param name="do_keep_coords" type="bool" value="False"/>
    <param name="exposure_auto" type="bool" value="True" />
    <param name="gain_auto" type="bool" value="True" />
    <param name="brightness_auto" type="bool" value="True" />
    <param name="fps" type="double" value="15.0"/>
    <param name="frame_id" type="string" value="stereo_optical_frame"/>
  </group>

  <node machine="four"  pkg="dcam"              type="stereodcam" respawn="false"/>
  <node machine="four"  pkg="stereo_image_proc" type="stereoproc" respawn="false"/>

  <node machine="four"  pkg="jpeg"              type="encoder">
    <remap from="raw_image" to="/stereo/left/image_rect"/>
  </node>

</launch>
