<launch>

<!-- Cartesian wrench controller -->
  <group ns="r_arm_cartesian_wrench_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
  </group>

<!-- Cartesian twist controller -->
  <group ns="r_arm_cartesian_twist_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_cartesian_wrench_controller" />

    <param name="ff_trans" value="0.0" />
    <param name="ff_rot" value="0.0" />

    <param name="fb_trans/p" value="20.0" />
    <param name="fb_trans/i" value="0.5" />
    <param name="fb_trans/d" value="0.0" />
    <param name="fb_trans/i_clamp" value="1.0" />

    <param name="fb_rot/p" value="0.5" />
    <param name="fb_rot/i" value="0.1" />
    <param name="fb_rot/d" value="0.0" />
    <param name="fb_rot/i_clamp" value="0.2" />
  </group>

<!-- Cartesian pose controller -->
  <group ns="r_arm_cartesian_pose_controller" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_cartesian_twist_controller" />

    <param name="p" value="20.0" />
    <param name="i" value="0.1" />
    <param name="d" value="0.0" />
    <param name="i_clamp" value="0.5" />
  </group>


  <node pkg="mechanism_control" type="spawner.py"
        args="$(find pr2_default_controllers)/r_arm_cartesian_wrench_controller.xml $(find pr2_default_controllers)/r_arm_cartesian_twist_controller.xml $(find pr2_default_controllers)/r_arm_cartesian_pose_controller.xml"
	output="screen" />

</launch>
