<launch>
    <include file="$(find outlet_detection)/test/test_setup.xml"/>

    <!-- play bag file -->
    <node pkg="rosrecord" type="rosplay" args="  $(find outlet_detection)/test/outlet_test_40_no_detection4.bag"/>

    <!-- run test  -->
    <test test-name="outlet_test_40_no_detection4" pkg="outlet_detection" type="detect_outlet_from_bag.py" args="$(find outlet_detection)/test/outlet_test_40_no_detection4.pose" />

</launch>
