;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Jul  3 16:34:21 2008
;; Desktop file format version 206
;; Emacs version 22.1.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name "/u/vernaza/src/labeling/TAGS")
(setq tags-table-list '("/u/vernaza/src/labeling/TAGS"))
(setq search-ring '("lossaugenergygroundstate" "groundstate.s" "groundstate" "laugbfground" "abort" "objective(" "val <" "min" "lossaugenergygroundstate" "objective(" "cvwaitkey" "objective(" "lossaugenergygroundstate" "lossaug" "testing" "groundstate"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/BinarySubmodularObjective.cc"
  "BinarySubmodularObjective.cc"
  'c++-mode
  '(abbrev-mode)
  6097
  '(3191 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/features/SuperpixelBlobber.h"
  "SuperpixelBlobber.h"
  'c-mode
  '(abbrev-mode)
  235
  '(940 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/BinarySubmodularObjective.hh"
  "BinarySubmodularObjective.hh"
  'c++-mode
  '(abbrev-mode)
  59
  '(1721 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/vernaza/src/labeling/features/FeatureGraphExtractor.cc"
  "FeatureGraphExtractor.cc"
  'c++-mode
  '(abbrev-mode)
  10149
  '(10346 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/features/SuperpixelBlobber.cc"
  "SuperpixelBlobber.cc"
  'c++-mode
  '(abbrev-mode)
  120
  '(87 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/features/FeatureGraphExtractor.h"
  "FeatureGraphExtractor.h"
  'c-mode
  '(abbrev-mode)
  188
  '(591 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/test/testFeatures.cc"
  "testFeatures.cc"
  'c++-mode
  '(abbrev-mode)
  593
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/Makefile"
  "Makefile"
  'makefile-gmake-mode
  nil
  1335
  '(9 t)
  nil
  nil
  '((indent-tabs-mode . t) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/test/testSubgrad.cc"
  "testSubgrad.cc"
  'c++-mode
  '(abbrev-mode)
  700
  '(1568 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/vernaza/src/labeling/features/UndirectedFeatureGraph.h"
  "UndirectedFeatureGraph.h"
  'c-mode
  '(abbrev-mode)
  909
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/BinarySubmodularMinimizer.hh"
  "BinarySubmodularMinimizer.hh"
  'c++-mode
  '(abbrev-mode)
  279
  '(279 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/optimize/SubgradientOptimizer.hh"
  "SubgradientOptimizer.hh"
  'c++-mode
  '(abbrev-mode)
  694
  '(1056 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/BruteForceMinimizer.hh"
  "BruteForceMinimizer.hh"
  'c++-mode
  '(abbrev-mode)
  1611
  '(1635 nil)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/util/VectorPermutations.hh"
  "VectorPermutations.hh"
  'c++-mode
  '(abbrev-mode)
  783
  '(783 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/GraphCutMinimizer.hh"
  "GraphCutMinimizer.hh"
  'c++-mode
  '(abbrev-mode)
  491
  '(363 t)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/BinarySubmodularEnergy.hh"
  "BinarySubmodularEnergy.hh"
  'c++-mode
  '(abbrev-mode)
  128
  '(40 t)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/objective/GraphCutMinimizer.cc"
  "GraphCutMinimizer.cc"
  'c++-mode
  '(abbrev-mode)
  2494
  '(1422 t)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8)))

(desktop-create-buffer 206
  "/u/vernaza/src/labeling/objective/ObjectiveFunction.hh"
  "ObjectiveFunction.hh"
  'c++-mode
  '(abbrev-mode)
  1368
  '(184 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/superpix/convolve.h"
  "convolve.h"
  'c-mode
  '(abbrev-mode)
  1027
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/features/FeatureMatrix.hh"
  "FeatureMatrix.hh"
  'c++-mode
  '(abbrev-mode)
  48
  '(130 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/input/SegmentationLoader.hh"
  "SegmentationLoader.hh"
  'c++-mode
  '(abbrev-mode)
  741
  '(764 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/util/Dvec.hh"
  "Dvec.hh"
  'c++-mode
  '(abbrev-mode)
  65
  '(40 t)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/test/testPerms.cc"
  "testPerms.cc"
  'c++-mode
  '(abbrev-mode)
  653
  '(654 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/opt/flens/include/flens/densevector.h"
  "densevector.h"
  'c-mode
  '(abbrev-mode)
  3982
  '(4422 t)
  t
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/maxflow/README.TXT"
  "README.TXT"
  'fundamental-mode
  nil
  3772
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-dos)))

(desktop-create-buffer 206
  "/wg/stor1/vernaza/src/labeling/display/LabelingViewer.hh"
  "LabelingViewer.hh"
  'c++-mode
  '(abbrev-mode)
  1809
  '(1110 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/vernaza/src/labeling/features/Blobber.hh"
  "Blobber.hh"
  'c++-mode
  '(abbrev-mode)
  391
  '(305 t)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/u/vernaza/src/labeling/objective/Regularization.hh"
  "Regularization.hh"
  'c++-mode
  '(abbrev-mode)
  226
  '(30 t)
  nil
  nil
  '((buffer-file-coding-system . mule-utf-8)))

