<launch>
  <!-- start up empty world -->
  <include file="$(find gazebo)/launch/empty_world.launch"/>

  <!-- send plug_only.xml to param server and spawn robot-->
  <param name="plug_description" command="$(find xacro)/xacro.py '$(find plug_in_gazebo)/robots/plug_only.xacro.xml'" />
  <node pkg="gazebo_plugin" type="urdf2factory" args="plug_description 0 0 0 0 0 0 plug" respawn="false" output="screen" />

  <param name="outlet_description" command="$(find xacro)/xacro.py '$(find plug_in_gazebo)/robots/outlet_only.xacro.xml'" />
  <node pkg="gazebo_plugin" type="urdf2factory" args="outlet_description" respawn="false" output="screen" />
</launch>

