body
{
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
}

a
{
  text-decoration: none;
  color: #2c3c53;
}

a:hover
{
  color: #6f98ee;
}

#mainheader
{
  border-bottom: 5px solid #1e2a47;
  margin-bottom: 10px;
}

#mainheader #title
{
  font-size: 200%;
  font-weight: bold;
  color: #1e2a47;
}



#displaybox
{
  z-index: 10000;
  border: 2px solid black;
  background-color: #FFFFFF;
  position: fixed;
  width: 80%;
  height: 80%;
  text-align: center;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#displaybox h1
{
  display:block; 
  color: #1e2a47; 
  background-color:#7cbd47;
}

#displaybox #gadgetdesc
{
  text-align: left;
  border-bottom: 1px solid black;
  min-height: 140px;
}

#displaybox #gadgetdesc #imgbox
{
  float:left; 
  display:inline; 
  padding-right: 20px;
  text-align:center; 
  min-width: 200px;
}

#displaybox a
{
  font-size: 120%;
}


#gadget
{
  min-width: 400px;
  position: relative;
}

#gadget #header
{
  background-color: #7cbd47;
  vertical-align: middle;
  border: 1px solid #537e2f;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  color: #1e2a47;
  font-weight: bold;
  font-size: 120%;
}

#gadget #content
{
  padding: 10px;
  background-color: #eef9e6;
  
  border-left: 1px solid #629b34;
  border-right: 1px solid #629b34;
  border-bottom: 1px solid #629b34;
}

.gadget #content img
{
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

#canvas, #activediv, #imgdiv
{
  width: 500;
  height: 300;
  border: 1px solid black;
  /*top: 0;
  left: 0;
  margin: 0 auto;
  */
  position: absolute;
}

#canvas
{
  overflow: hidden;
}

#activediv
{
  background-color: transparent;
  background-repeat: no-repeat;
}

