<launch>

  <include file="$(find gazebo)/launch/scan_world.launch" />

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- send single_link.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/pr2.xacro.xml'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node pkg="gazebo_tools" type="urdf2factory" args="robot_description" respawn="false" output="screen" /> <!-- load default arm controller -->

  <!-- load controllers -->
  <include file="$(find pr2_default_controllers)/pr2_base_controller_odom.launch"/>
  <include file="$(find pr2_default_controllers)/head_position_controller.launch"/>
  <include file="$(find pr2_gazebo)/controllers/pr2_tilt_laser_controller.launch"/>

  <test test-name="test_pr2_sensors_gazebo_test_scan" pkg="test_pr2_sensors_gazebo" type="test_scan.py" />

</launch>
