<launch>

  <!-- The simulator -->
  <node name="wge100_simulator" pkg="wge100_camera" type="wge100_sim" output="screen"/>

  <!-- The camera node -->
  <group ns="wge100">
    <param name="camera_url" type="str" value="serial://12345@127.0.0.1#lo"/>
    <param name="video_mode" type="str" value="640x480x15"/>
    <param name="do_colorize" type="bool" value="True"/>
    <param name="do_rectify" type="bool" value="True"/>
    <param name="ext_trig" type="bool" value="False"/>
    <param name="trig_controller" type="string" value=""/>
    <param name="port" type="int" value="62100"/>
  </group>
  <node name="wge100" pkg="wge100_camera" type="wge100_camera_node" respawn="false" output="screen"/>

</launch>
