<launch>
  <group ns="stereo">
    <param name="videre_mode" type="str" value="none"/>
    <param name="exposure" type="int" value="450"/>
    <param name="exposure_auto" type="bool" value="false"/>
    <param name="brightness" type="int" value="50"/>
    <param name="brightness_auto" type="bool" value="false"/>
    <param name="gain" type="int" value="10"/>
    <param name="gain_auto" type="bool" value="false"/>
    <param name="do_colorize" type="bool" value="True"/>
    <param name="do_rectify" type="bool" value="True"/>
    <param name="do_stereo" type="bool" value="True"/>
    <param name="do_calc_points" type="bool" value="True"/>
  </group>
  <node pkg="dcam" type="stereodcam" respawn="false"/>
  <node pkg="stereo_image_proc" type="stereoproc" respawn="false"/>
</launch>

