<launch>
    <param name="base_kinematics/odom_publish_rate" value="10" />	
    <param name="pr2_base_controller/timeout" value="0.1" />
    <param name="pr2_base_controller/fl_caster_rotation_/p" value="3.0" />
    <param name="pr2_base_controller/fr_caster_rotation_/p" value="3.0" />
    <param name="pr2_base_controller/br_caster_rotation_/p" value="3.0" />
    <param name="pr2_base_controller/bl_caster_rotation_/p" value="3.0" />
    <param name="pr2_base_controller/fl_caster_rotation_/i" value="0.1" />
    <param name="pr2_base_controller/fr_caster_rotation_/i" value="0.1" />
    <param name="pr2_base_controller/br_caster_rotation_/i" value="0.1" />
    <param name="pr2_base_controller/bl_caster_rotation_/i" value="0.1" />
    <param name="pr2_base_controller/fl_caster_rotation_/d" value="0.0" />
    <param name="pr2_base_controller/fr_caster_rotation_/d" value="0.0" />
    <param name="pr2_base_controller/br_caster_rotation_/d" value="0.0" />
    <param name="pr2_base_controller/bl_caster_rotation_/d" value="0.0" />
    <param name="pr2_base_controller/fl_caster_rotation_/i_clamp" value="4.0" />
    <param name="pr2_base_controller/fr_caster_rotation_/i_clamp" value="4.0" />
    <param name="pr2_base_controller/br_caster_rotation_/i_clamp" value="4.0" />
    <param name="pr2_base_controller/bl_caster_rotation_/i_clamp" value="4.0" />
    
    <param name="pr2_base_controller/fl_caster_l_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/fl_caster_r_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/fr_caster_l_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/fr_caster_r_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/bl_caster_l_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/bl_caster_r_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/br_caster_l_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/br_caster_r_wheel_/p" value="2.0" />
    <param name="pr2_base_controller/fl_caster_l_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/fl_caster_r_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/fr_caster_l_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/fr_caster_r_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/bl_caster_l_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/bl_caster_r_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/br_caster_l_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/br_caster_r_wheel_/i" value="0.01" />
    <param name="pr2_base_controller/fl_caster_l_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/fl_caster_r_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/fr_caster_l_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/fr_caster_r_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/bl_caster_l_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/bl_caster_r_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/br_caster_l_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/br_caster_r_wheel_/d" value="0.0" />
    <param name="pr2_base_controller/fl_caster_l_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/fl_caster_r_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/fr_caster_l_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/fr_caster_r_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/bl_caster_l_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/bl_caster_r_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/br_caster_l_wheel_/i_clamp" value="0.4" />
    <param name="pr2_base_controller/br_caster_r_wheel_/i_clamp" value="0.4" />


    <param name="pr2_base_controller/max_accel_.acc.ax" value="2.0" />
    <param name="pr2_base_controller/max_accel_.acc.ay" value="2.0" />
    <param name="pr2_base_controller/max_accel_.ang_acc.az" value="2.0" />

    <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/pr2_base_controller.xml" output="screen"/>
</launch>

