<launch>

  <include file="$(find pr2_alpha)/prf.machine" />
  <include file="$(find pr2_alpha)/prf_ethercat_reset.launch" />

<!-- Joystick -->
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>

<!-- spacenav -->
<!--  <node machine="four" pkg="spacenav_node" type="spacenav_node" /> -->

<!-- Power Board Control Node -->
 <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

<!-- Battery Monitor -->
  <node machine="two" pkg="ocean_battery_driver" type="monitor" respawn="true"/>
<!-- Battery Assertions -->
  <include file="$(find ocean_battery_driver)/expected_batteries.launch"/>

<!-- Base Laser -->
  <node machine="two" pkg="hokuyo_node" type="hokuyo_node" name="base_hokuyo_node" args="scan:=base_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="base_laser" />
    <param name="min_ang_degrees" type="double" value="-130.0" />
    <param name="max_ang_degrees" type="double" value="130.0" />
  </node>

<!-- Tilt Laser -->
  <node  machine="three" pkg="hokuyo_node" type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="laser_tilt_link" />
    <param name="min_ang_degrees" type="double" value="-70.0" />
    <param name="max_ang_degrees" type="double" value="70.0" />
    <param name="skip" type="int" value="1" />
  </node>

<!-- imu -->
  <param name="imu/time_offset" value="-0.040" />
  <param name="imu/port"  type="string" value="/dev/ttyUSB0" />
  <param name="imu/autostart" type="bool" value="true" />
  <param name="imu/frameid"  type="string" value="imu" />
  <node machine="four" pkg="imu_node" type="imu_node" output="screen"/>

<!-- Stereo cam -->
  <group ns="stereo">
    <param name="videre_mode" type="str" value="none"/>
    <param name="do_colorize" type="bool" value="True"/>
    <param name="do_rectify" type="bool" value="True"/>
    <param name="do_stereo" type="bool" value="True"/>
    <param name="do_calc_points" type="bool" value="True"/>
    <param name="stereo/do_keep_coords" type="bool" value="True"/>
    <param name="fps" type="double" value="15.0"/>
    <param name="frame_id" type="string" value="stereo_optical_frame"/>
    <param name="exposure_auto" type="bool" value="true"/>
    <param name="brightness_auto" type="bool" value="true"/>
    <param name="gain_auto" type="bool" value="true"/>
  </group>
  <node machine="three" pkg="dcam" type="stereodcam" respawn="false"/>
  

<!-- Runtime Diagnostics Logging -->
  <node pkg="rosrecord" type="rosrecord" args="-f /hwlog/prf_runtime_automatic /diagnostics" />

<!-- NTP monitoring script Warns to console if sync error -->
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="prf2" machine="realtime"/>
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="fw1 7000" machine="two"/> 
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="prf2" machine="three"/>
  <node pkg="runtime_monitor" type="ntp_monitor.py" args="prf2" machine="four"/>


</launch>

