<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/pr2.xacro.xml'" />

  <include file="$(find pr2_alpha)/prf.machine" />

<!-- pr2_etherCAT -->
  <node machine="realtime_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i eth0 -x /robotdesc/pr2"/>

<!-- PR2 Calibration -->
  <include file="$(find pr2_full)/calibrate_prf.launch" />
  
</launch>
