<launch>

  <group name="wg">
    <node pkg="stage" type="stageros" args="$(find 2dnav_stage)/worlds/willow-pr2-5cm.world" respawn="false" />
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-full-0.05.pgm 0.05" respawn="false" />
    <node pkg="wavefront" type="wavefront" respawn="false" >
      <remap from="scan" to="base_scan" />
      <param name="robot_radius" value="0.325"/>
    </node>
    <node pkg="nav_view" type="nav_view" respawn="false"/>
    <node pkg="fake_localization" type="fake_localization" respawn="false" />
  </group>
</launch>
