<launch>

  <group name="wg">
    <node pkg="rosstage" type="rosstage" args="$(find 2dnav_stage)/worlds/willow-pr2.world" respawn="false" />
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-full.pgm 0.1" respawn="false" />
    <node pkg="wavefront_player" type="wavefront_player" respawn="false" >
      <remap from="scan" to="base_scan" />
    </node>
    <node pkg="nav_view" type="nav_view" respawn="false"/>
    <param name="max_publish_frequency" value="20.0"/>
    <node pkg="fake_localization" type="fake_localization" respawn="false" />
  </group>
</launch>

