<launch>
  <include file="$(find wg_robot_description)/pr2/send_description.launch" />

  <machine name="xenomai_root" user="root" address="prf1" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never"/>   

  <include file="prf.machine" />

<!-- pr2_etherCAT -->
  <node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robotdesc/pr2"/>

<!-- PR2 Calibration -->
  <include file="$(find wg_robot_description)/pr2/calibrate.launch" />

<!-- Joystick -->
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>

<!-- Power Board Control Node -->
  <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

<!-- Battery Monitor -->
  <node machine="two" pkg="IBPSBatteryInterface" type="monitorBatteries" respawn="true"/>

<!-- Base Laser -->
  <node  machine="two" pkg="hokuyo_node" type="hokuyo_node" name="base_hokuyo_node" args="scan:=base_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="base_laser" />
    <param name="min_ang_degrees" type="double" value="-100.0" />
    <param name="max_ang_degrees" type="double" value="100.0" />
  </node>

<!-- Tilt Laser -->
  <node  machine="three" pkg="hokuyo_node" type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="tilt_laser" />
    <param name="min_ang_degrees" type="double" value="-80.0" />
    <param name="max_ang_degrees" type="double" value="80.0" />
  </node>

<!-- Runtime Diagnostics Logging -->
<node pkg="rosrecord" type="rosrecord" args="-f /hwlog/prg_runtime_automatic /diagnostics" />

<!-- NTP monitoring script Warns to console if sync error -->
<node pkg="ntp_monitor" type="ntp_monitor.py" machine="xenomai"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" machine="two"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" machine="three"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" machine="four"/>

</launch>

