<launch>
  <include file="$(find wg_robot_description)/pr2/send_description.launch" />

  <machine name="xenomai_root" user="root" address="prf1" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never"/>   

  <include file="prf.machine" />

<!-- pr2_etherCAT -->
  <node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robotdesc/pr2"/>

<!-- PR2 Calibration -->
  <include file="$(find wg_robot_description)/pr2/calibrate.launch" />

<!-- Joystick -->
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>

<!-- Power Board Control Node -->
  <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

<!-- Battery Monitor -->
  <node machine="two" pkg="ocean_battery_driver" type="monitor" respawn="true"/>

<!-- Base Laser -->
  <node  machine="two" pkg="hokuyo_node" type="hokuyo_node" name="base_hokuyo_node" args="scan:=base_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="base_laser" />
    <param name="min_ang_degrees" type="double" value="-100.0" />
    <param name="max_ang_degrees" type="double" value="100.0" />
  </node>

<!-- Tilt Laser -->
  <node  machine="three" pkg="hokuyo_node" type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
  <param name="port" type="string" value="/dev/ttyACM0" />
  <param name="frameid" type="string" value="laser_tilt_link" />
  <param name="min_ang_degrees" type="double" value="-80.0" />
  <param name="max_ang_degrees" type="double" value="80.0" />
  </node>

<!-- imu -->
  <param name="imu/time_offset" value="-0.040" />
  <param name="imu/port"  type="string" value="/dev/ttyUSB0" />
  <param name="imu/autostart" type="bool" value="true" />
  <param name="imu/frameid"  type="string" value="imu" />
  <node machine="four" pkg="imu_node" type="imu_node" output="screen"/>

<!-- odom estimation -->
  <node machine="two" pkg="robot_pose_ekf" type="robot_pose_ekf"/>

<!-- Camera -->
<!--
  <param name="cam0" type="str" value="videre"/>
  <param name="videre/video_mode" type="str" value="640x480_videre"/>
  <param name="videre/videre_param/mode" type="str" value="disparity_raw"/>
  <param name="videre/videre_param/companding" type="bool" value="True"/>
  <param name="videre/colorize" type="bool" value="true"/>
  <param name="videre/rectify" type="bool" value="true"/>
  <param name="videre/frameid_cloud" type="str" value="stereo_block"/>
  <param name="videre/exposure" type="str" value="auto"/>
  <param name="videre/gain" type="int" value="10"/>
  <param name="videre/gamma" type="int" value="1"/>
  <node machine="three" pkg="dc1394_cam_server" type="dc1394_cam_server" respawn="false" output="screen"/>
-->

<!-- DCAM-->
 <node machine="three" name="dcam" pkg="dcam_node" type="dcam_node" respawn="false">
   <param name="video_mode" type="str" value="640x480_videre_none"/>
   <param name="do_rectify" type="bool" value="True"/>
   <param name="do_stereo" type="bool" value="True"/>
   <param name="do_calc_points" type="bool" value="False"/>
 </node>


<!-- Runtime Diagnostics Logging -->
<node pkg="rosrecord" type="rosrecord" args="-f /hwlog/prf_runtime_automatic /diagnostics" />

<!-- NTP monitoring script Warns to console if sync error -->
<node pkg="ntp_monitor" type="ntp_monitor.py" args="prf2" machine="xenomai"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" args="prf2" machine="three"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" args="prf2" machine="four"/>

</launch>

