<launch>
  <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find wg_robot_description)/pr2_prototype1/pr2_prototype1.xacro.xml'" />

  <machine name="xenomai_root" user="root" address="prg1" ros-root="$(env ROS_ROOT)" ros-package-path="$(env ROS_PACKAGE_PATH)" default="never"/>   

  <include file="prg.machine" />

<!-- pr2_etherCAT -->
  <node machine="xenomai_root" pkg="pr2_etherCAT" type="pr2_etherCAT" args="-i rteth0 -x /robotdesc/pr2"/>

<!-- PR2 Calibration -->
  <include file="$(find wg_robot_description)/pr2_prototype1/calibrate.launch" />

<!-- Joystick -->
  <param name="joy/deadzone" value="5000"/>
  <node machine="four" pkg="joy" type="joy"  respawn="true"/>

<!-- Power Board Control Node -->
  <node pkg="pr2_power_board" type="power_node"  respawn="true"/>

<!-- Battery Monitor -->
  <node machine="two" pkg="ocean_battery_driver" type="monitor" respawn="true"/>

<!-- Base Laser -->
  <node machine="two" pkg="hokuyo_node" type="hokuyo_node" name="base_hokuyo_node" args="scan:=base_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="base_laser" />
    <param name="min_ang_degrees" type="double" value="-130.0" />
    <param name="max_ang_degrees" type="double" value="130.0" />
  </node>

<!-- Tilt Laser -->
  <node  machine="three" pkg="hokuyo_node" type="hokuyo_node" name="tilt_hokuyo_node" args="scan:=tilt_scan">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="frameid" type="string" value="laser_tilt_link" />
    <param name="min_ang_degrees" type="double" value="-70.0" />
    <param name="max_ang_degrees" type="double" value="70.0" />
    <param name="skip" type="int" value="0" />
  </node>

<!-- imu -->
  <param name="imu/time_offset" value="-0.040" />
  <param name="imu/port"  type="string" value="/dev/ttyUSB0" />
  <param name="imu/autostart" type="bool" value="true" />
  <param name="imu/frameid"  type="string" value="imu" />
  <node machine="four" pkg="imu_node" type="imu_node" output="screen"/>

<!-- Runtime Diagnostics Logging -->
<node pkg="rosrecord" type="rosrecord" args="-f /hwlog/prg_runtime_automatic /diagnostics" />

<!-- NTP monitoring script Warns to console if sync error -->
<node pkg="ntp_monitor" type="ntp_monitor.py" args="prg2" machine="xenomai"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" args="prg2" machine="three"/>
<node pkg="ntp_monitor" type="ntp_monitor.py" args="prg2" machine="four"/>

</launch>

