<launch>
<!-- this is a fork of pr2_alpha/teleop_joystick. this version only allows
the operator to teleop the base -->

<param name="base_controller/odom_publish_rate" value="30.0"/>
<param name="base_controller/autostart" value="true"/>
<node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/base_controller.xml" output="screen"/>

<node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/torso_lift_vel_controller.xml" output="screen" />


<include file="$(find pr2_default_controllers)/head_position_controller.launch" />


<!-- The robot pose EKF is launched with the base controller-->
<include file="$(find robot_pose_ekf)/robot_pose_ekf.launch" />

  <group name="wg">
<param name="axis_vx" value="3" type="int"/>
<param name="axis_vy" value="2" type="int"/>
<param name="axis_vw" value="0" type="int"/>
<param name="axis_pan" value="0" type="int"/>
<param name="axis_tilt" value="3" type="int"/>

<param name="max_vw" value="0.8" />
<param name="max_vx" value="0.5" />
<param name="max_vy" value="0.5" />
<param name="max_vw_run" value="1.4" />
<param name="max_vx_run" value="1.0" />
<param name="max_vy_run" value="1.0" />
<param name="tilt_step" value="0.1" />
<param name="pan_step" value="0.1" />


<param name="run_button" value="5" type="int" />
<param name="torso_dn_button" value="500" type="int" />
<param name="torso_up_button" value="500" type="int" />
<param name="head_button" value="500" type="int" />

<param name="deadman_button" value="4" type="int"/>
<node pkg="teleop_pr2" type="teleop_pr2" output="screen" >
<remap from="/head_controller/command" to="/davy_jones"/>
</node> 

  </group>


</launch>

