<launch>

  <node pkg="object_names" type="simple_name_server.py" name="name_server" output="screen">
    <param name="index_name" value="$(find object_names)/launch/names.txt"/>
  </node>

  <node pkg="object_names" type="simple_color_server.py" name="color_server" output="screen">
    <param name="index_name" value="$(find object_names)/launch/colors.txt"/>
  </node>

  <node pkg="annotated_planar_patch_map" type="annotation_pcd_lifter_node" 
     	   name="annotation_lifter" respawn="false" output="screen" 

	>
<!--	launch-prefix="xterm -e gdb -args" -->



	   <param name="fixed_frame" value="map"/>
	   <param name="local_fixed_frame" value="odom"/>

	   <param name="dist_tolerance" value="0.0"/>

	   <param name="lifting_delay" value="5.0"/>

	   <param name="interval_before" value="2.0"/>
	   <param name="interval_after" value="2.0"/>

	   
	   <param name="dist_tolerance" value="0.0"/>
	   <param name="max_depth" value="20.0"/>
	   <param name="min_depth" value="0.1"/>


	   <param name="use_color" value="True" type="bool"/>
	   <param name="annotate_reprojection" value="True" type="bool"/>


	   <remap from="build-cloud" to="/laser_scan_assembler/build_cloud"/>	 
	   <remap from="cam_info" to="/stereoproc/left/cam_info"/>	 
	   <remap from="annotations_2d" to="annotations_2d_repub"/>	 
	   <param name="cam_info_hist/max_msg" value="1200" />

     </node>	   

</launch>
