<launch>
  <node pkg="kinematic_calibration" type="new_cmd_node.py" name="arm_commander" output="screen">
    <param name="joint_headers" type="string"
           textfile="$(find kinematic_calibration)/data/joint_names.txt" />

    <param name="joint_commands" type="string"
           textfile="$(find kinematic_calibration)/data/joint_pos.txt" />

  </node>

</launch>