<launch>
  <master auto="start"/>
  <param name="/trex/enable_detect_plug_on_base" value="true"/>
  <param name="/trex/enable_base_state_publisher" value="true"/>
  <param name="/trex/enable_move_base" value="true"/>
  <param name="/trex/enable_check_path" value="true"/>
  <param name="/trex/enable_notify_door_blocked" value="true"/>
  <param name="/trex/enable_open_door_without_grasp" value="true"/>
  <node pkg="executive_trex_pr2" type="stub_ros_container" respawn="false" />

  <param name="/trex/input_file" value="doorman.cfg"/>
  <param name="/trex/path" value="$(find executive_trex_pr2)/cfg"/>
  <param name="/trex/time_limit" value="240"/>
  <param name="/trex/log_dir" value="$(find executive_trex_pr2)/logs"/>
  <param name="/trex/play_back" value="0"/>
</launch>