<launch>
  <node pkg="rosrecord" type="rosplay" args="$(env PBARGS)" output="screen"/>  
  <group ns="stereo">
<node output = "screen" pkg="stereo_image_proc" type="stereoproc" respawn="false">
  <remap from="/stereo/raw_stereo" to="$(env PBTOPIC)"/>
 <param name="videre_mode" type="str" value="none"/>
    <param name="do_colorize" type="bool" value="True"/>
    <param name="do_rectify" type="bool" value="True"/>
    <param name="do_stereo" type="bool" value="True"/>
    <param name="do_calc_points" type="bool" value="True"/>
  </node>
  </group>
  <node pkg="person_data" output="screen" type="stereo_view" respawn="false">
    
  </node>
    
</launch>
