<launch>
<!--

<param name="/use_sim_time" value="True"/>

<include file="$(find annotated_planar_patch_map)/test/setup.xml" />


<node pkg="annotated_planar_patch_map" type="send_annotation.py" 
     	name="tmp_annotation" respawn="false" output="screen" /> -->


<node pkg="rosrecord" type="rosplay" args="-r 4 -b 100 $(find annotated_planar_patch_map)/test_data/full_2009-06-22-15-40-19-topic.bag"/>


<test pkg="annotated_planar_patch_map" type="test_content" test-name="message_content" >

</test>

</launch>