<launch>
  <node pkg="move_arm_tools"  type="auto_arm_cmd" name="move_arm_gui" output="screen" args="right">    
    <remap from="robot_description" to="robot_description" />
    <remap from="arm_ik" to="pr2_ik_right_arm/ik_service" />
    
    <param name="planner_service" value="sbpl_planning/plan_kinematic_path" />
  </node>
  

	<node pkg="move_arm_tools" type="move_arm_gui" /> 
</launch>
