<launch>
  <node pkg="optical_flag_calibration" type="flag_tester.py" name="flag_tester" output="screen">
    <param name="joint_headers" type="string"
           textfile="$(find optical_flag_calibration)/joint_names.txt" />
    <param name="joint_commands" type="string"
           textfile="$(find optical_flag_calibration)/joint_pos_shoulder_pan.txt" />
    <param name="actuator" type="string" value="r_upper_arm_roll_motor" />

  </node>

</launch>