<launch>
  <node pkg="rosviz" type="rxplot" args="-m. -p30 /mechanism_state/joint_states[0]/commanded_effort,/mechanism_state/joint_states[1]/commanded_effort,/mechanism_state/joint_states[2]/commanded_effort,/mechanism_state/joint_states[4]/commanded_effort,/mechanism_state/joint_states[5]/commanded_effort,/mechanism_state/joint_states[7]/commanded_effort,/mechanism_state/joint_states[8]/commanded_effort,/mechanism_state/joint_states[11]/commanded_effort" output="screen"/>
  <node pkg="rosviz" type="rxplot" args="-m. -p30 /mechanism_state/joint_states[0]/position,/mechanism_state/joint_states[1]/position,/mechanism_state/joint_states[2]/position,/mechanism_state/joint_states[4]/position,/mechanism_state/joint_states[5]/position,/mechanism_state/joint_states[7]/position,/mechanism_state/joint_states[8]/position,/mechanism_state/joint_states[11]/position" output="screen"/>
  <node pkg="rosviz" type="rxplot" args="-m. -p30 /l_gripper_l_finger_tip_bumper/force/vector/x /l_gripper_l_finger_tip_bumper/force/vector/y /l_gripper_l_finger_tip_bumper/force/vector/z" respawn="false" output="screen" />
  <node pkg="rosviz" type="rxplot" args="-m. -p30 /r_gripper_l_finger_tip_bumper/force/vector/x /r_gripper_l_finger_tip_bumper/force/vector/y /r_gripper_l_finger_tip_bumper/force/vector/z" respawn="false" output="screen" />
  <node pkg="rosviz" type="rxplot" args="-m. -p30 /l_gripper_l_finger_bumper/force/vector/x /l_gripper_l_finger_bumper/force/vector/y /l_gripper_l_finger_bumper/force/vector/z" respawn="false" output="screen" />
  <node pkg="rosviz" type="rxplot" args="-m. -p30 /r_gripper_l_finger_bumper/force/vector/x /r_gripper_l_finger_bumper/force/vector/y /r_gripper_l_finger_bumper/force/vector/z" respawn="false" output="screen" />
</launch>

