<launch>
  <group name="wg">
    <!-- send pr2_r_arm.xml to param server -->
    <param name="robotdesc/pr2" command="$(find xacro)/xacro.py '$(find pr2_defs)/robots/r_arm.xacro.xml'" />

    <!-- -g flag runs gazebo in gui-less mode -->
    <node pkg="gazebo" type="gazebo" args="-n $(find gazebo_robot_description)/gazebo_worlds/empty.world" respawn="false" output="screen">
      <env name="LD_LIBRARY_PATH" value="$(find gazebo_plugin)/lib:$(find gazebo)/gazebo/lib:$(find Cg)/Cg/lib:$(find boost)/boost/lib" />
      <env name="GAZEBO_RESOURCE_PATH" value="$(find gazebo_robot_description)/world" />
      <env name="OGRE_RESOURCE_PATH" value="$(find ogre)/ogre/lib/OGRE" />
      <env name="MC_RESOURCE_PATH" value="$(find gazebo_robot_description)/world" />
    </node>

    <!-- push robotdesc/pr2 to factory and spawn robot in gazebo -->
    <node pkg="gazebo_plugin" type="urdf2factory" args="robotdesc/pr2" respawn="false" output="screen"/>

    <!-- start arm controller -->
    <!--
    <node pkg="mechanism_control" type="mech.py" args="sp $(find arm_gazebo)/r_arm_default_controller.xml" respawn="false"  />
    <node pkg="mechanism_control" type="mech.py" args="sp $(find arm_gazebo)/r_arm_cartesian_pos_controller.xml" respawn="false"  />
    -->
    <node pkg="mechanism_control" type="mech.py" args="sp $(find arm_gazebo)/r_arm_trajectory_controller.xml" respawn="false"  />

    <!-- send arm a command -->
    <!-- open gripper .5 radians
    <node pkg="robot_mechanism_controllers" type="control.py" args="set r_gripper_controller 0.5" respawn="false" output="screen" />
    -->
    <!-- tests
    <node pkg="robot_mechanism_controllers" type="control.py" args="set r_gripper_controller 0.5" respawn="false" output="screen" />
    -->

    <!-- for visualization -->
    <!-- node pkg="pr2_gui" type="pr2_gui" respawn="false" output="screen" / -->
  </group>
</launch>

