<launch>
  <include file="$(find pr2_alpha)/$(env ROBOT).machine" />


<!-- controllers-->
  <include file="$(find milestone2)/config/controllers.xml" />


<!-- perception-->
  <include file="$(find milestone2)/config/perception.xml" />


<!-- navigation-->
  <include file="$(find milestone2)/config/navigation.xml" />


<!-- door domain -->
  <include file="$(find door_handle_detector)/launch/door_handle_detector.xml" />  
  <node pkg="doors_core" type="action_runner" output="screen" />


<!-- Safety -->
  <node pkg="safety_core" type="action_runner" output="screen" />


<!-- joystick -->
  <param name="axis_vx" value="3" type="int"/>
  <param name="axis_vy" value="2" type="int"/>
  <param name="axis_vw" value="0" type="int"/>
  <param name="pan" value="4" type="int"/>
  <param name="tilt" value="5" type="int"/>
  <param name="max_vw" value="1.0" />
  <param name="max_vx" value="1.0" />
  <param name="max_vy" value="1.0" />
  <param name="deadman_button" value="4" type="int"/>
  <node pkg="teleop_base" type="teleop_base" args="--deadman_no_publish" respawn="true" machine="four" />


<!-- Robot pose ekf -->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" args="robot_pose_ekf" machine="four" name="robot_pose_ekf">
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
  </node>


</launch>
