<launch>
  <param name="/global_frame_id" value="odom_offset"/>
  <node pkg="tf" type="transform_sender" args="-20 -20 0 0 0 0 odom_offset odom 10"/>
  <include file="$(find tabletop_manipulation)/gazebo.launch"/>
  <include file="$(find tabletop_manipulation)/controllers_sim.launch"/>
  <!--include file="$(find tabletop_manipulation)/perception_sim.launch"/-->
  <include file="$(find tabletop_manipulation)/planning.launch"/>
  <!--include file="$(find tabletop_manipulation)/debug_plot.launch"/-->
  <!--node pkg="plan_kinematic_path" type="plan_kinematic_path">
    <remap from="robot_description" to="robotdesc/pr2"/>
  </node-->
</launch>
