<launch>

  <param name="right_arm/sbpl_planner/env_config" textfile="$(find sbpl_arm_planner)/env_examples/robarm3d/r_arm.cfg" />
  <param name="right_arm/sbpl_planner/planner_config" textfile="$(find sbpl_arm_planner)/params.cfg" />

  <param name="right_arm/sbpl_planner/allocated_time" value="1.0" />
  <param name="right_arm/sbpl_planner/forward_search" value="true" />
  <param name="right_arm/sbpl_planner/search_mode" value="true" />
  <param name="right_arm/sbpl_planner/num_joints" value="7" />

  <param name="right_arm/sbpl_planner/torso_arm_offset_x" value="0.0" />
  <param name="right_arm/sbpl_planner/torso_arm_offset_y" value="-0.188" />
  <param name="right_arm/sbpl_planner/torso_arm_offset_z" value="0.0" />

  <param name="right_arm/sbpl_planner/collision_map_topic" value="collision_map_buffer" />
  <param name="right_arm/sbpl_planner/arm_name" value="right_arm" />
  
  <param name="right_arm/sbpl_planner/use_collision_map" value="true" />

  <node pkg="sbpl_arm_planner_node" type="sbpl_arm_planner_node" name="right_arm/sbpl_planner" output="screen" respawn="false"/>

</launch>