
<launch>

 <include file="$(find stereo_image_proc)/stereo.launch" />

 <node pkg="recognition_lambertian" name="recognition_lambertian" type="recognition_lambertian" respawn="false" output="screen">
   <param name="display" type="bool" value="true" />
   <param name="template_path"  value="$(find recognition_lambertian)/data/templates.txt" />
 </node>

</launch>

