<launch>

  <param name="arm_constraint/line_pid/p" value="750.0" type="double" />
  <param name="arm_constraint/line_pid/i" value="1.0" type="double" />
  <param name="arm_constraint/line_pid/d" value="5.0" type="double" />
  <param name="arm_constraint/line_pid/i_clamp" value="10.0" type="double" />

  <param name="arm_constraint/pose_pid/p" value="35.0" type="double" />
  <param name="arm_constraint/pose_pid/i" value="8.0" type="double" />
  <param name="arm_constraint/pose_pid/d" value="1.0" type="double" />
  <param name="arm_constraint/pose_pid/i_clamp" value="10.0" type="double" />
  <param name="arm_constraint/f_r_max" value="150.0" type="double"/>

  <node pkg="mechanism_control" type="spawner.py" args="$(find plug_in)/controllers.xml" />
</launch>
