<launch>

  <!-- Parameters for the controllers used in plugging in -->

  <group ns="arm_hybrid" clear_params="true">
    <param name="type" value="CartesianHybridControllerNode" />
    <param name="root_link" value="torso_lift_link" />
    <param name="tip_link" value="r_gripper_tool_frame" />
    <param name="initial_mode" value="3" />
    <group ns="pose">
      <rosparam file="$(find pr2_default_controllers)/gains/arm_pose.yaml" command="load" />
    </group>
    <group ns="twist">
      <rosparam file="$(find pr2_default_controllers)/gains/arm_twist.yaml" command="load" />
    </group>
    <param name="twist_filter" command="./make_lowpass.m twist_filter 0.01" />
    <param name="saturated_velocity" value="0.5" />
  </group>


  <!-- (Mostly) Copied from arm_life_test/controller_cartesian_pose_right.launch -->
  
  <group ns="r_arm_wrench" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
  </group>

  <group ns="r_arm_twist" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_wrench" />

    <param name="ff_trans" value="0.0" />
    <param name="fb_trans/p" value="20.0" />
    <param name="fb_trans/i" value="0.5" />
    <param name="fb_trans/d" value="0.0" />
    <param name="fb_trans/i_clamp" value="1.0" />

    <param name="ff_rot" value="0.0" />
    <param name="fb_rot/p" value="0.5" />
    <param name="fb_rot/i" value="0.1" />
    <param name="fb_rot/d" value="0.0" />
    <param name="fb_rot/i_clamp" value="0.2" />
  </group>

  <group ns="r_arm_pose" clear_params="true">
    <param name="root_name" type="string" value="torso_lift_link" />
    <param name="tip_name" type="string" value="r_gripper_tool_frame" />
    <param name="output" type="string" value="r_arm_twist" />

    <param name="p" value="20.0" />
    <param name="i" value="0.1" />
    <param name="d" value="0.0" />
    <param name="i_clamp" value="0.5" />
  </group>

</launch>
