<launch>
  <node pkg="milestone2_actions" type="reset_controller_state.py" args="laser_tilt_controller head_controller r_gripper_effort_controller r_gripper_position_controller r_arm_joint_trajectory_controller r_arm_cartesian_wrench_controller r_arm_constraint_cartesian_wrench_controller r_arm_cartesian_twist_controller r_arm_constraint_cartesian_twist_controller r_arm_cartesian_pose_controller r_arm_constraint_cartesian_pose_controller r_arm_cartesian_trajectory_controller r_arm_constraint_cartesian_trajectory_controller r_arm_cartesian_tff_controller r_arm_hybrid_controller " output="screen"/>
</launch>