<launch>
  <node pkg="door_tracker" type="door_tracker_node" output="screen" name="door_tracker_node">
    <rosparam command="load" file="$(find laser_scan)/default_scan_shadows.yaml" />  
  </node>
  <node pkg="door_tracker" type="door_database_node" output="screen" name="door_database_node"/>

</launch>