<launch>
  <master auto="start"/>
  <group name="wg">
  <param name="/use_sim_time" value="true"/>
    <node pkg="nav" type="move_base" respawn="false" name="move_base_node" output="screen">
      <param name="global_frame" value="map" />
      <param name="robot_base_frame" value="base_link" />

      <param name="inscribed_radius" value="0.325" />
      <param name="circumscribed_radius" value="0.46" />
      <param name="inflation_radius" value="0.55" />

      <rosparam file="$(find test_nav)/config/costmap_common_params.yaml" command="load" ns="navfn" />
      <rosparam file="$(find test_nav)/config/costmap_common_params.yaml" command="load" ns="base_local_planner" />
      <rosparam file="$(find test_nav)/move_base/navfn_params.yaml" command="load" />
      <rosparam file="$(find test_nav)/move_base/base_local_planner_params.yaml" command="load" />

    </node>
    <node pkg="map_server" type="map_server" args="$(find 2dnav_stage)/maps/willow-maze.pgm 0.05" respawn="false" />
    <node pkg="stage" type="stageros" name="stageros" args="$(find 2dnav_stage)/worlds/willow-pr2-maze.world" respawn="false" >
      <param name="base_watchdog_timeout" value="0.2"/>
    </node>
    <node pkg="fake_localization" type="fake_localization" respawn="false" />
    <node pkg="nav_view" type="nav_view" respawn="false">
      <remap from="goal" to="/move_base/activate" />
      <remap from="raw_obstacles" to="/move_base/base_local_planner/raw_obstacles" />
      <remap from="inflated_obstacles" to="/move_base/base_local_planner/inflated_obstacles" />
      <remap from="gui_path" to="/move_base/base_local_planner/global_plan" />
      <remap from="local_path" to="/move_base/base_local_planner/local_plan" />
      <remap from="robot_footprint" to="/move_base/base_local_planner/robot_footprint"/>
    </node>
  </group>
</launch>
