<launch>
  <include file="$(find 3dnav_pr2)/launch/pr2_planning_environment.launch" />
  <include file="$(find pr2_ik)/pr2_ik_larm_node.launch"/>
  <include file="$(find move_arm)/launch/move_larm.launch"/>
  <node pkg="mechanism_control" type="spawner.py" args="$(find pr2_default_controllers)/l_arm_joint_trajectory_controller.xml" />
</launch>
