<launch>

  <node name="prosilica" pkg="prosilica_cam" type="prosilica_node" respawn="false" output="screen">
    <param name="ip_address" type="str" value="169.254.68.68"/>
    <param name="acquisition_mode" type="str" value="Continuous"/>
    <param name="exposure_auto" type="str" value="Manual"/>
    <param name="exposure" type="int" value="60" />
    <param name="gain_auto" type="str" value="Manual"/>
    <param name="gain" type="int" value="0"/>

    <param name="whitebal_auto" type="str" value="Auto"/>
  </node>

</launch>
